.container-fluid {
  padding: 0 !important !important;
  margin: 0 !important !important;
}

.container-fluid .row {
  padding: 0 !important !important;
  margin: 0 !important !important;
}

.container-fluid .row .wrapper {
  position: relative;
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important !important;
  margin: 0 !important !important;
  font-family: 'Monda', sans-serif;
  font-weight: 400;
}

.header-col {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 !important;
  margin: 0 !important;
  border-bottom: 1px solid silver;
  background: radial-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.658)), url("../img/bg6.jpg");
}

@media (max-width: 768px) {
  .header-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 180px;
  }
}

.header-col .header-contents {
  width: 50%;
  height: 100%;
  text-align: center;
}

@media (max-width: 992px) {
  .header-col .header-contents:first-child {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .header-col .header-contents:first-child {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .header-col .header-contents:last-child {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .header-col .header-contents:last-child {
    width: 100%;
  }
}

.header-col .header-contents img {
  width: 12rem;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 768px) {
  .header-col .header-contents img {
    width: 9rem;
  }
}

.header-col .header-contents .menu {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  height: 50% !important;
  text-align: center;
  z-index: 1;
  position: relative;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 768px) {
  .header-col .header-contents .menu {
    background: none;
  }
}

.header-col .header-contents .menu .toggler {
  width: 50px !important;
  height: 40px !important;
  position: relative;
  background: none;
  border: none;
  display: none;
  margin: -5px auto;
  outline: none;
}

@media (max-width: 768px) {
  .header-col .header-contents .menu .toggler {
    display: block;
  }
}

.header-col .header-contents .menu .toggler .toggler-hamburger {
  position: relative;
  width: auto !important;
  height: auto !important;
}

.header-col .header-contents .menu .toggler .toggler-hamburger span {
  margin: 6px auto;
  display: block;
  width: 90% !important;
  height: 5px !important;
  background-color: #707070;
}

.header-col .header-contents .menu .toggler .toggler-double {
  position: relative;
  width: auto !important;
  height: auto !important;
}

.header-col .header-contents .menu .toggler .toggler-double span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  left: 5%;
  text-align: center;
  width: 90% !important;
  height: 5px !important;
  background-color: #707070;
}

.header-col .header-contents .menu .toggler .toggler-double span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header-col .header-contents .menu .toggler .toggler-double span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-col .header-contents .menu .menu-items {
  width: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 20px !important;
  margin: 0 !important;
}

@media (max-width: 768px) {
  .header-col .header-contents .menu .menu-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    position: absolute;
    width: 100%;
    top: 180px;
    background: black;
  }
}

.header-col .header-contents .menu .menu-items a {
  color: white;
  position: relative;
  top: 30%;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .header-col .header-contents .menu .menu-items a {
    margin: 20px auto;
  }
  .header-col .header-contents .menu .menu-items a:hover {
    color: #727272;
  }
}

.header-col .header-contents .menu .menu-items a:hover {
  text-decoration: none;
  color: #727272;
}

.carousel {
  width: 100% !important;
  height: auto !important;
}

.carousel .nextBtn {
  position: absolute;
  right: 0%;
  top: 50%;
  z-index: 100;
}

.carousel .prevBtn {
  position: absolute;
  left: 0%;
  top: 50%;
  z-index: 100;
}

.carousel .navBtn {
  width: 80px !important;
  height: 10px !important;
  position: absolute;
  bottom: 5%;
  background: #ff1313;
  z-index: 1;
  left: 40%;
}

.carousel .navBtn:hover {
  cursor: pointer;
  background: #f3f3f3;
}

.carousel .carousel-content {
  width: 100% !important;
  height: 500px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel .carousel-content .carousel-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100% !important;
  height: 500px !important;
}

.carousel .carousel-content .carousel-element img {
  position: relative;
  width: 100% !important;
  height: 100% !important;
}

@media (max-width: 320px) {
  .carousel {
    height: 300px;
  }
}

@media (max-width: 425px) {
  .carousel {
    height: 350px;
  }
}

.homePageInfo-col {
  padding: 0 !important;
  height: auto;
  background: white;
}

.homePageInfo-col .homePageInfo {
  height: auto;
  padding: 0px !important;
}

.homePageInfo-col .homePageInfo .homePage-title {
  width: 100%;
  margin: 0 auto;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: #616161;
}

@media (max-width: 992px) {
  .homePageInfo-col .homePageInfo .homePage-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-title {
    font-size: 1.2rem;
  }
}

@media (max-width: 425px) {
  .homePageInfo-col .homePageInfo .homePage-title {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .homePageInfo-col .homePageInfo .homePage-title {
    font-size: 0.8rem;
  }
}

.homePageInfo-col .homePageInfo .homePage-article {
  padding: 5px !important;
  margin: 10px auto !important;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}

@media (max-width: 992px) {
  .homePageInfo-col .homePageInfo .homePage-article {
    width: 100%;
    height: 350px;
  }
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 350px;
  }
}

.homePageInfo-col .homePageInfo .homePage-article .article-part {
  position: relative;
  width: 50% !important;
  height: 100% !important;
  color: #cfcfcf;
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part {
    width: 100%;
  }
}

.homePageInfo-col .homePageInfo .homePage-article .article-part:first-child {
  background: radial-gradient(rgba(0, 0, 0, 0.466), #363636);
}

.homePageInfo-col .homePageInfo .homePage-article .article-part:first-child p {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.5rem;
}

@media (max-width: 992px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:first-child p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:first-child p {
    font-size: 1.2rem;
  }
}

@media (max-width: 425px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:first-child p {
    font-size: 0.9rem;
  }
}

@media (max-width: 320px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:first-child p {
    font-size: 0.7rem;
  }
}

.homePageInfo-col .homePageInfo .homePage-article .article-part:last-child {
  background: #000;
}

.homePageInfo-col .homePageInfo .homePage-article .article-part:last-child p {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  font-weight: 600;
}

@media (max-width: 992px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:last-child p {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:last-child p {
    font-size: 1.2rem;
  }
}

@media (max-width: 425px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:last-child p {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:last-child p {
    font-size: 0.8rem;
  }
}

.homePageInfo-col .homePageInfo .homePage-article-2 {
  padding: 15px !important;
  margin: 0 !important;
  width: 100% !important;
  height: auto !important;
  background-size: cover;
  background-position: center;
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-title-article-2 {
  width: 100% !important;
  height: 100px !important;
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-title-article-2 p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2rem;
  text-align: center;
  padding: 2rem !important;
  margin: 0 !important;
  color: white;
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100% !important;
  height: 350px !important;
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100% !important;
    height: auto !important;
  }
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon {
  position: relative;
  width: 30% !important;
  height: 100% !important;
  padding: 0 !important;
  margin: 0px !important;
  text-align: center;
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon {
    padding: 0 !important;
    margin: 0 auto !important;
    width: 80% !important;
    height: 250px !important;
  }
}

@media (max-width: 425px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon {
    width: 90% !important;
    height: 250px !important;
  }
}

@media (max-width: 320px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon {
    width: 100% !important;
    height: 250px !important;
  }
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .fa {
  position: absolute;
  color: #d6d6d6;
  font-size: 7rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 10%;
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .fa {
    font-size: 5rem;
  }
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .fas {
  position: absolute;
  font-size: 7rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 10%;
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .fas {
    font-size: 5rem;
    top: 5%;
  }
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .fa-palette {
  color: #d6d6d6;
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .fa-tshirt {
  color: #d6d6d6;
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon p {
  width: 100%;
  position: relative;
  color: #cfcfcf;
  font-size: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 60%;
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon p {
    font-size: 1.3rem;
    top: 50%;
  }
}

@media (max-width: 576px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon p {
    font-size: 1rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .description {
  width: 100%;
  position: absolute;
  font-size: 1rem;
  top: 80%;
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .description {
    font-size: 0.9rem;
    top: 70%;
  }
}

@media (max-width: 576px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .description {
    font-size: 0.9rem;
  }
}

@media (max-width: 375px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .description {
    font-size: 0.8rem;
  }
}

.homePageInfo-col .homePageInfo .homePage-redirect {
  width: 100%;
  margin: 0 !important;
  height: auto;
  padding: 50px;
  background: black;
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-redirect {
    padding: 30px;
  }
}

@media (max-width: 475px) {
  .homePageInfo-col .homePageInfo .homePage-redirect {
    padding: 20px;
  }
}

@media (max-width: 375px) {
  .homePageInfo-col .homePageInfo .homePage-redirect {
    -webkit-clip-path: none;
            clip-path: none;
    padding: 0px;
  }
}

.homePageInfo-col .homePageInfo .homePage-redirect button {
  position: relative;
  width: 250px;
  height: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-transform: uppercase;
  outline: none;
  border-right: none;
  border-bottom: none;
  border-top: 1px solid #505050;
  border-left: 1px solid #505050;
  color: #575757;
  background: none;
}

.homePageInfo-col .homePageInfo .homePage-redirect button:hover {
  background: rgba(61, 0, 0, 0.63);
}

@media (max-width: 375px) {
  .homePageInfo-col .homePageInfo .homePage-redirect button {
    font-size: 1rem;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (max-width: 320px) {
  .homePageInfo-col .homePageInfo .homePage-redirect button {
    font-size: 0.8rem;
    width: 100%;
    height: 80px;
  }
}

html body {
  padding: none !important;
  margin: none !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  width: 100% !important;
  height: 100% !important;
}

.footer {
  width: 100% !important;
  height: auto !important;
  padding: 0 !important;
  margin: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.9))), url("../img/action3.png") no-repeat;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../img/action3.png") no-repeat;
  background-size: cover;
}

.footer .footer-element-logo {
  width: 100% !important;
  height: auto !important;
}

.footer .footer-element-logo img {
  position: relative;
  width: 10rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer .footer-element {
  width: 100% !important;
  height: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .footer .footer-element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.footer .footer-element .footer-element-info {
  padding: 5px !important;
  margin: 0 !important;
  width: 40% !important;
  height: 100% !important;
  text-align: left;
}

@media (max-width: 992px) {
  .footer .footer-element .footer-element-info {
    width: 50% !important;
    height: 100% !important;
  }
}

@media (max-width: 768px) {
  .footer .footer-element .footer-element-info {
    width: 100% !important;
    height: 50% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.footer .footer-element .footer-element-info p {
  padding-top: 10px;
  width: 50%;
  margin: 10px auto;
  color: #cfcfcf;
}

@media (max-width: 992px) {
  .footer .footer-element .footer-element-info p {
    font-size: 0.9rem;
    padding-top: 5px;
  }
}

@media (max-width: 576px) {
  .footer .footer-element .footer-element-info p {
    font-size: 0.8rem;
    text-align: center;
    width: 80%;
  }
}

.footer .footer-element .footer-element-info ul {
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  list-style-type: none;
}

@media (max-width: 768px) {
  .footer .footer-element .footer-element-info ul {
    text-align: center;
  }
}

.footer .footer-element .footer-element-info ul li {
  width: 100% !important;
  height: auto !important;
  padding: 10px;
  text-align: center;
  display: block;
  text-decoration: none;
}

.footer .footer-element .footer-element-info ul li:first-child {
  color: gold;
  font-size: 1rem;
}

@media (max-width: 992px) {
  .footer .footer-element .footer-element-info ul li {
    padding: 5px;
  }
}

@media (max-width: 768px) {
  .footer .footer-element .footer-element-info ul li {
    display: inline-block;
    width: auto !important;
    height: auto !important;
    padding: 10px !important;
    margin: 5px !important;
  }
}

.footer .footer-element .footer-element-info ul li a {
  font-size: 0.9rem;
  position: relative;
  text-decoration: none;
  color: #e6e6e6;
}

.footer .footer-element .footer-element-info ul li a:hover {
  color: silver;
}
/*# sourceMappingURL=style.css.map */