.container-fluid {
  padding: 0 !important;
  margin: 0 !important;
}

.container-fluid .wrapper {
  width: 100% !important;
  height: 100% !important;
  font-family: 'Monda', sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
}

.header-col {
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 !important;
  margin: 0 !important;
  background: white;
}

@media (max-width: 768px) {
  .header-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 180px;
  }
}

.header-col .header-contents {
  width: 50%;
  height: 100%;
  text-align: center;
}

@media (max-width: 992px) {
  .header-col .header-contents:first-child {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .header-col .header-contents:first-child {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .header-col .header-contents:last-child {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .header-col .header-contents:last-child {
    width: 100%;
  }
}

.header-col .header-contents img {
  width: 15rem;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 768px) {
  .header-col .header-contents img {
    width: 9rem;
  }
}

.header-col .header-contents .menu {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  height: 50% !important;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  background: #432b99;
}

@media (max-width: 768px) {
  .header-col .header-contents .menu {
    background: none;
  }
}

.header-col .header-contents .menu .toggler {
  width: 50px !important;
  height: 40px !important;
  background: none;
  border: none;
  display: none;
  margin: -5px auto;
  outline: none;
}

@media (max-width: 768px) {
  .header-col .header-contents .menu .toggler {
    display: block;
  }
}

.header-col .header-contents .menu .toggler .toggler-hamburger {
  position: relative;
  width: auto !important;
  height: auto !important;
}

.header-col .header-contents .menu .toggler .toggler-hamburger span {
  margin: 6px auto;
  display: block;
  width: 90% !important;
  height: 5px !important;
  background-color: #3c0399;
}

.header-col .header-contents .menu .toggler .toggler-double {
  position: relative;
  width: auto !important;
  height: auto !important;
}

.header-col .header-contents .menu .toggler .toggler-double span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  left: 5%;
  text-align: center;
  width: 90% !important;
  height: 5px !important;
  background-color: #3c0399;
}

.header-col .header-contents .menu .toggler .toggler-double span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header-col .header-contents .menu .toggler .toggler-double span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-col .header-contents .menu .menu-items {
  width: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 20px !important;
  margin: 0 !important;
}

@media (max-width: 768px) {
  .header-col .header-contents .menu .menu-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    position: absolute;
    width: 100%;
    top: 180px;
    background: black;
  }
}

.header-col .header-contents .menu .menu-items a {
  color: white;
  position: relative;
  top: 30%;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .header-col .header-contents .menu .menu-items a {
    margin: 20px auto;
  }
  .header-col .header-contents .menu .menu-items a:hover {
    color: #727272;
  }
}

.header-col .header-contents .menu .menu-items a:hover {
  text-decoration: none;
  color: #727272;
}

.carousel {
  width: 100%;
  height: 500px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.527)), to(rgba(255, 255, 255, 0.178))), url("../img/bg1.jpg");
  background: linear-gradient(to right, rgba(0, 0, 0, 0.527), rgba(255, 255, 255, 0.178)), url("../img/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 320px) {
  .carousel {
    height: 300px;
  }
}

@media (max-width: 425px) {
  .carousel {
    height: 350px;
  }
}

.homePageInfo-col {
  padding: 0 !important;
  height: auto;
  background: rgba(0, 0, 0, 0.356);
}

.homePageInfo-col .homePageInfo {
  height: auto;
  padding: 0 !important;
}

.homePageInfo-col .homePageInfo .homePage-title {
  width: 100%;
  margin: 0 auto;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

@media (max-width: 992px) {
  .homePageInfo-col .homePageInfo .homePage-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-title {
    font-size: 1.2rem;
  }
}

@media (max-width: 425px) {
  .homePageInfo-col .homePageInfo .homePage-title {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .homePageInfo-col .homePageInfo .homePage-title {
    font-size: 0.8rem;
  }
}

.homePageInfo-col .homePageInfo .homePage-article {
  width: 80%;
  margin: 0 auto;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: url("../img/tshirt2.jpg");
}

@media (max-width: 992px) {
  .homePageInfo-col .homePageInfo .homePage-article {
    width: 100%;
    height: 350px;
  }
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 350px;
  }
}

.homePageInfo-col .homePageInfo .homePage-article .article-part {
  width: 50%;
  height: 100%;
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part {
    width: 100%;
  }
}

.homePageInfo-col .homePageInfo .homePage-article .article-part:first-child p {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.5rem;
}

@media (max-width: 992px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:first-child p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:first-child p {
    font-size: 1.2rem;
  }
}

@media (max-width: 425px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:first-child p {
    font-size: 0.9rem;
  }
}

@media (max-width: 320px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:first-child p {
    font-size: 0.7rem;
  }
}

.homePageInfo-col .homePageInfo .homePage-article .article-part:last-child {
  background: rgba(0, 0, 0, 0.425);
  -webkit-clip-path: polygon(26% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(26% 0, 100% 0, 100% 100%, 0% 100%);
}

.homePageInfo-col .homePageInfo .homePage-article .article-part:last-child p {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  font-weight: 600;
}

@media (max-width: 992px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:last-child p {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:last-child p {
    font-size: 1.2rem;
  }
}

@media (max-width: 425px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:last-child p {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:last-child p {
    font-size: 0.8rem;
  }
}

.homePageInfo-col .homePageInfo .homePage-article-2 {
  margin-top: 20px;
  height: auto;
  padding: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.808)), to(rgba(0, 0, 0, 0.562))), url("../img/header.jpg");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.808), rgba(0, 0, 0, 0.562)), url("../img/header.jpg");
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 300px;
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media (max-width: 576px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon {
  position: relative;
  width: 30%;
  height: 100%;
  margin: 5px;
  text-align: center;
}

@media (max-width: 576px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon {
    width: 100%;
    margin-left: 0;
  }
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .fa {
  position: absolute;
  color: #4888ff;
  font-size: 7rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 10%;
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .fa {
    font-size: 5rem;
    top: 5%;
  }
}

@media (max-width: 576px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .fa {
    left: 5%;
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
}

@media (max-width: 375px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .fa {
    font-size: 3rem;
  }
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .fas {
  position: absolute;
  font-size: 7rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 10%;
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .fas {
    font-size: 5rem;
    top: 5%;
  }
}

@media (max-width: 576px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .fas {
    left: 5%;
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
}

@media (max-width: 375px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .fas {
    font-size: 3rem;
  }
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .fa-palette {
  color: #26c526;
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .fa-tshirt {
  color: #a01f09;
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon p {
  width: 100%;
  position: relative;
  color: #cfcfcf;
  font-size: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 60%;
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon p {
    font-size: 1.3rem;
    top: 40%;
  }
}

@media (max-width: 576px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon p {
    font-size: 1rem;
    top: 10%;
    left: 60%;
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
}

@media (max-width: 375px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon p {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .description {
  width: 100%;
  position: absolute;
  font-size: 1rem;
  top: 80%;
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .description {
    font-size: 0.9rem;
    top: 60%;
  }
}

@media (max-width: 576px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .description {
    width: 60%;
    font-size: 0.9rem;
    top: 40%;
    text-align: right;
  }
}

@media (max-width: 375px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .description {
    width: 70%;
    font-size: 0.8rem;
  }
}

.homePageInfo-col .homePageInfo .homePage-redirect {
  width: 100%;
  margin: 0 !important;
  height: auto;
  padding: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.562)), to(rgba(0, 0, 0, 0.808))), url("../img/header.jpg");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.808)), url("../img/header.jpg");
  -webkit-clip-path: polygon(20% 0%, 85% 0%, 90% 100%, 15% 100%);
          clip-path: polygon(20% 0%, 85% 0%, 90% 100%, 15% 100%);
  -webkit-transform: rotateX(-10deg);
          transform: rotateX(-10deg);
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-redirect {
    padding: 30px;
  }
}

@media (max-width: 475px) {
  .homePageInfo-col .homePageInfo .homePage-redirect {
    padding: 20px;
  }
}

@media (max-width: 375px) {
  .homePageInfo-col .homePageInfo .homePage-redirect {
    -webkit-clip-path: none;
            clip-path: none;
    padding: 0px;
  }
}

.homePageInfo-col .homePageInfo .homePage-redirect button {
  position: relative;
  background: rgba(0, 0, 0, 0.267);
  width: 250px;
  height: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-transform: uppercase;
  outline: none;
  border: none;
  color: white;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}

.homePageInfo-col .homePageInfo .homePage-redirect button:hover {
  background: rgba(0, 0, 0, 0.63);
}

@media (max-width: 375px) {
  .homePageInfo-col .homePageInfo .homePage-redirect button {
    font-size: 1rem;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (max-width: 320px) {
  .homePageInfo-col .homePageInfo .homePage-redirect button {
    font-size: 0.8rem;
    width: 100%;
    height: 80px;
  }
}

body {
  padding: 0 !important;
  margin: 0 !important;
  background: url("../img/bg3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-col {
  padding: 0 !important;
  margin: 0 !important;
}

.main-col main {
  width: 100% !important;
  height: 100% !important;
}
/*# sourceMappingURL=style.css.map */