.contact-header {
  padding: 0 !important;
  margin: 10px auto !important;
  height: 400px;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.322)), to(rgba(0, 0, 0, 0.322))), url("../img/contact.jpg") no-repeat;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.322), rgba(0, 0, 0, 0.322)), url("../img/contact.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 320px) {
  .contact-header {
    height: 200px;
  }
}

.contact-header p {
  width: 100%;
  background: rgba(89, 11, 134, 0.856);
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 3rem;
  color: #dbdbdb;
  margin: none;
}

@media (max-width: 576px) {
  .contact-header p {
    font-size: 2.5rem;
  }
}

@media (max-width: 425px) {
  .contact-header p {
    font-size: 2rem;
  }
}

@media (max-width: 320px) {
  .contact-header p {
    font-size: 1.2rem;
  }
}

.contact-col-form {
  height: auto;
  background: url("../img/bg2.jpg") no-repeat;
  background-size: cover;
  padding: 10px !important;
  margin: 0 auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}

@media (max-width: 768px) {
  .contact-col-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: auto;
  }
}

.contact-col-form .spinnerContent {
  width: 100% !important;
  height: 400px !important;
  padding: 0 !important;
  margin: 0 auto !important;
  position: relative;
  text-align: center;
}

.contact-col-form .spinnerContent .spinnerTitle {
  padding: 20px !important;
  margin: 0 auto !important;
  color: white;
  font-size: 2rem;
}

@media (max-width: 992px) {
  .contact-col-form .spinnerContent .spinnerTitle {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .contact-col-form .spinnerContent .spinnerTitle {
    font-size: 1rem;
  }
}

.contact-col-form .spinnerContent .spinnerForm {
  width: 100px !important;
  height: 100px !important;
  position: relative;
  top: 20%;
  color: #cccccc;
}

.contact-col-form .form-sent, .contact-col-form .form-not-sent {
  width: 50% !important;
  height: auto !important;
  padding: 20px !important;
  margin: 10% auto !important;
  text-align: center;
}

@media (max-width: 992px) {
  .contact-col-form .form-sent, .contact-col-form .form-not-sent {
    width: 80% !important;
    height: auto !important;
  }
}

@media (max-width: 768px) {
  .contact-col-form .form-sent, .contact-col-form .form-not-sent {
    width: 80% !important;
    height: auto !important;
  }
}

@media (max-width: 576px) {
  .contact-col-form .form-sent, .contact-col-form .form-not-sent {
    width: 100% !important;
    height: auto !important;
  }
}

@media (max-width: 350px) {
  .contact-col-form .form-sent, .contact-col-form .form-not-sent {
    width: 100% !important;
    height: auto !important;
  }
}

.contact-col-form .form-sent .fas, .contact-col-form .form-not-sent .fas, .contact-col-form .form-sent .contact-col-info .contact-info .contact-info-el .far, .contact-col-info .contact-info .contact-info-el .contact-col-form .form-sent .far, .contact-col-form .form-not-sent .contact-col-info .contact-info .contact-info-el .far, .contact-col-info .contact-info .contact-info-el .contact-col-form .form-not-sent .far {
  padding: 0 !important;
  margin: 5% auto !important;
  font-size: 10rem;
  color: #2dc45f;
}

@media (max-width: 768px) {
  .contact-col-form .form-sent .fas, .contact-col-form .form-not-sent .fas, .contact-col-form .form-sent .contact-col-info .contact-info .contact-info-el .far, .contact-col-info .contact-info .contact-info-el .contact-col-form .form-sent .far, .contact-col-form .form-not-sent .contact-col-info .contact-info .contact-info-el .far, .contact-col-info .contact-info .contact-info-el .contact-col-form .form-not-sent .far {
    font-size: 6rem;
  }
}

@media (max-width: 320px) {
  .contact-col-form .form-sent .fas, .contact-col-form .form-not-sent .fas, .contact-col-form .form-sent .contact-col-info .contact-info .contact-info-el .far, .contact-col-info .contact-info .contact-info-el .contact-col-form .form-sent .far, .contact-col-form .form-not-sent .contact-col-info .contact-info .contact-info-el .far, .contact-col-info .contact-info .contact-info-el .contact-col-form .form-not-sent .far {
    font-size: 4rem;
  }
}

.contact-col-form .form-sent p, .contact-col-form .form-not-sent p {
  text-align: center;
  font-size: 2rem;
  color: #949494;
}

@media (max-width: 992px) {
  .contact-col-form .form-sent p, .contact-col-form .form-not-sent p {
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  .contact-col-form .form-sent p, .contact-col-form .form-not-sent p {
    font-size: 1.1rem;
  }
}

@media (max-width: 320px) {
  .contact-col-form .form-sent p, .contact-col-form .form-not-sent p {
    font-size: 1rem;
  }
}

.contact-col-form .form-not-sent {
  /*@include maxWidthmaxHeight(50%,auto);
        @include paddingMargin(5px, 10% auto);
        text-align: center;
        @media(max-width:576px){
            @include maxWidthmaxHeight(100%,250px); 
        }*/
  /*p{
            text-align: center; 
            font-size: 1.5rem;
            color:rgb(207, 207, 207);
            @media(max-width: 992px){
                font-size: 1.2rem; 
            }
            @media(max-width:320px){
                font-size: 1rem; 
            }
        }*/
}

.contact-col-form .form-not-sent .far {
  padding: 0 !important;
  margin: 5% auto !important;
  font-size: 10rem;
  color: #d40000;
}

@media (max-width: 992px) {
  .contact-col-form .form-not-sent .far {
    font-size: 8rem;
  }
}

@media (max-width: 320px) {
  .contact-col-form .form-not-sent .far {
    font-size: 6rem;
  }
}

.contact-col-form .contact {
  width: 50% !important;
  height: 100% !important;
  padding: 0 !important;
  margin: 0 auto !important;
}

@media (max-width: 768px) {
  .contact-col-form .contact {
    width: 100% !important;
    height: 100% !important;
  }
}

.contact-col-form .contact .contact-title {
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  padding: 1.5rem;
  color: #949494;
}

@media (max-width: 320px) {
  .contact-col-form .contact .contact-title {
    font-size: 1.2rem;
  }
}

.contact-col-form .contact .form {
  width: 100% !important;
  height: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 !important;
  margin: 0 !important;
  color: #949494;
}

.contact-col-form .contact .form p {
  text-align: center;
}

.contact-col-form .contact .form input {
  border: none;
  width: 60%;
  padding: 10px !important;
  margin: 10px auto !important;
  background: none;
  border-left: 1px solid silver;
  border-bottom: 1px solid silver;
  color: #949494;
}

@media (max-width: 425px) {
  .contact-col-form .contact .form input {
    width: 80%;
    font-size: 1rem;
  }
}

.contact-col-form .contact .form input::-webkit-inner-spin-button,
.contact-col-form .contact .form input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.contact-col-form .contact .form input[type=number] {
  -moz-appearance: textfield;
}

.contact-col-form .contact .form textarea {
  padding: 5px !important;
  margin: 0 auto !important;
  width: 80%;
  max-height: 200px;
  min-height: 200px;
  border-left: 1px solid silver;
  border-bottom: 1px solid silver;
  background: none;
  color: #949494;
}

.contact-col-form .contact .form button {
  width: 200px !important;
  height: auto !important;
  background: none;
  border-left: 1px solid silver;
  border-bottom: 1px solid silver;
  outline: none;
  padding: 10px !important;
  margin: 20px auto !important;
  color: #949494;
}

.contact-col-form .contact .form .errorVal {
  color: red;
  font-size: 0.8rem;
  margin-top: 0;
  margin-bottom: 2px;
}

.contact-col-info {
  background-color: black;
  height: auto;
  padding: 0 !important;
  margin: 0 auto !important;
  display: block;
}

.contact-col-info .contact-info {
  width: 100% !important;
  height: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 320px) {
  .contact-col-info .contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.contact-col-info .contact-info .contact-info-el {
  width: 24% !important;
  height: 180px !important;
  padding: 0 !important;
  margin: 5px !important;
  text-align: center;
}

@media (max-width: 1100px) {
  .contact-col-info .contact-info .contact-info-el {
    width: 50% !important;
    height: 180px !important;
    padding: 5px !important;
    margin: 0px !important;
  }
}

@media (max-width: 425px) {
  .contact-col-info .contact-info .contact-info-el {
    width: 100% !important;
    height: 180px !important;
  }
}

.contact-col-info .contact-info .contact-info-el img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
  width: 15rem;
}

@media (max-width: 768px) {
  .contact-col-info .contact-info .contact-info-el img {
    width: 10rem;
  }
}

.contact-col-info .contact-info .contact-info-el .fas, .contact-col-info .contact-info .contact-info-el .far {
  font-size: 3rem;
  color: #949494;
  margin-top: 12%;
}

@media (max-width: 768px) {
  .contact-col-info .contact-info .contact-info-el .fas, .contact-col-info .contact-info .contact-info-el .far {
    margin-top: 15%;
  }
}

@media (max-width: 425px) {
  .contact-col-info .contact-info .contact-info-el .fas, .contact-col-info .contact-info .contact-info-el .far {
    margin-top: 10%;
  }
}

.contact-col-info .contact-info .contact-info-el p {
  font-size: 1rem;
  color: #949494;
  margin-top: 10px;
}

@media (max-width: 992px) {
  .contact-col-info .contact-info .contact-info-el p {
    font-size: 0.8rem;
  }
}

@media (max-width: 567px) {
  .contact-col-info .contact-info .contact-info-el p {
    font-size: 0.7rem;
  }
}
/*# sourceMappingURL=Contact.css.map */