@import './Variables.scss';

.contact-header{
    @include paddingMargin(0,10px auto);
    height: 400px;
    box-shadow: 0 0 5px black;
    background:linear-gradient(to left,rgba(0, 0, 0, 0.322),rgba(0, 0, 0, 0.322)), url('../img/contact.jpg') no-repeat;
    background-position:center;
    background-size: cover;
    @media(max-width: 320px){
        height: 200px;
    }
    p{
        width: 100%;
        background: rgba(89, 11, 134, 0.856);
        text-align: center;
        @include top50;
        font-size: 3rem;
        color: rgb(219, 219, 219);
        margin: none;
        @media(max-width: 576px){
            font-size: 2.5rem;
        }
        @media(max-width: 425px){
            font-size: 2rem;
        }
        @media(max-width: 320px){
            font-size: 1.2rem;
        }
    }
}
.contact-col-form{
    height: auto;
    background:url('../img/bg2.jpg') no-repeat;
    background-size: cover;
    @include paddingMargin(10px,0 auto);
    @include displayFlex(row);
    overflow: hidden;
    @media(max-width: 768px){
        @include displayFlex(column);
        height: auto;
    }
    .spinnerContent{
        @include maxWidthmaxHeight(100%,400px);
        @include paddingMargin(0,0 auto);
        position: relative;
        text-align: center;
        .spinnerTitle{
            @include paddingMargin(20px,0 auto);
            color:white;
            font-size: 2rem;
            @media(max-width:992px){
                font-size: 1.5rem;
            }
            @media(max-width: 576px){
                font-size: 1rem;
            }
        }
        .spinnerForm{
            @include maxWidthmaxHeight(100px,100px);
            position: relative;
            top:20%;
            color: rgb(204, 204, 204);
        }
    }
    .form-sent{
        @include maxWidthmaxHeight(50%,auto);
        @include paddingMargin(20px, 10% auto);
        text-align: center;
        @media(max-width:992px){
            @include maxWidthmaxHeight(80%,auto); 
        }
        @media(max-width:768px){
            @include maxWidthmaxHeight(80%,auto); 
        }
        @media(max-width:576px){
            @include maxWidthmaxHeight(100%,auto); 
        }
        @media(max-width:350px){
            @include maxWidthmaxHeight(100%,auto); 
        }
        .fas{
            @include paddingMargin(0, 5% auto);
            font-size: 10rem;
            color:rgb(45, 196, 95);
            @media(max-width: 768px){
                font-size: 6rem; 
            }
            @media(max-width:320px){
                font-size: 4rem;
            }
        }
        p{
            text-align: center; 
            font-size: 2rem;
            color:rgb(207, 207, 207);
            @media(max-width: 992px){
            font-size: 1.2rem; 
            }
            @media(max-width:576px){
                font-size: 1.1rem; 
            
            }
            @media(max-width:320px){
                font-size: 1rem; 
            
            }
        }
    }
    .form-not-sent{
        /*@include maxWidthmaxHeight(50%,auto);
        @include paddingMargin(5px, 10% auto);
        text-align: center;
        @media(max-width:576px){
            @include maxWidthmaxHeight(100%,250px); 
        }*/
        @extend .form-sent;
        .far{
            @include paddingMargin(0, 5% auto);
            font-size: 10rem;
            color:rgb(212, 0, 0);
            @media(max-width: 992px){
                font-size: 8rem; 
            }
            @media(max-width:320px){
                font-size: 6rem;
            }
        }
        /*p{
            text-align: center; 
            font-size: 1.5rem;
            color:rgb(207, 207, 207);
            @media(max-width: 992px){
                font-size: 1.2rem; 
            }
            @media(max-width:320px){
                font-size: 1rem; 
            }
        }*/
    }
    .contact{
        @include maxWidthmaxHeight(50%,100%);
        @include paddingMargin(0,0 auto);
        @media(max-width: 768px){
            @include maxWidthmaxHeight(100%,100%);
        }
        .contact-title{
            font-size: 1.5rem;
            text-align: center;
            width:100%;
            padding: 1.5rem;
            color: rgb(148, 148, 148);
            @media(max-width: 320px){
                font-size: 1.2rem;
            }
        }
        .form{
            @include maxWidthmaxHeight(100%,auto);
            @include displayFlex(column);
            @include paddingMargin(0,0);
            color: rgb(148, 148, 148);
            p{
                text-align:center;
            }
            input{
                border: none;
                width:60%;
                @include paddingMargin(10px,10px auto);
                background: none;
                border-left:1px solid silver;
                border-bottom:1px solid silver;
                color: rgb(148, 148, 148);
                @media(max-width: 425px){
                    width:80%;
                    font-size: 1rem;
                }
            }
            input::-webkit-inner-spin-button,
            input::-webkit-outer-spin-button{
                -webkit-appearance: none;
            }
            input[type=number]{
                -moz-appearance:textfield;
            }
            textarea{
                @include paddingMargin(5px,0 auto);
                width: 80%;
                max-height: 200px;
                min-height: 200px;
                border-left:1px solid silver;
                border-bottom:1px solid silver;
                background: none;
                color: rgb(148, 148, 148);
            }
            button{
                @include maxWidthmaxHeight(200px,auto);
                background: none;
                border-left:1px solid silver;
                border-bottom:1px solid silver;
                outline: none;
                @include paddingMargin(10px,0 auto);
                color: rgb(148, 148, 148);
            }
            .errorVal{
                color:red;
                font-size: 0.8rem;
                margin-top: 0;
                margin-bottom: 2px;
            }
        }
        
    }
}
.contact-col-info{
    background-color: black;
    height: auto;
    @include paddingMargin(0,0 auto);
    display: block;
    .contact-info{
        @include maxWidthmaxHeight(100%,auto);
        @include displayFlex(row);
        flex-wrap: wrap;
        justify-content: center;
        @media(max-width:320px){
            @include displayFlex(column);
        }
        .contact-info-el{
            @include maxWidthmaxHeight(24%,180px);
            @include paddingMargin(0,5px);
            text-align: center;
            @media(max-width:1100px){
                @include maxWidthmaxHeight(50%,180px);
                @include paddingMargin(5px,0px);
            }
            @media(max-width:425px){
                @include maxWidthmaxHeight(100%,180px);
            }
            img{
                @include top50;
                position: relative;
                width:15rem;
                @media(max-width: 768px){
                    width:10rem;
                }
            }
            .fas{
                font-size: 3rem;
                color:rgb(165, 165, 165);
                margin-top: 12%;
                @media(max-width:768px){
                    margin-top: 15%;
                }
                @media(max-width:425px){
                    margin-top: 10%;
                }
            }
            .far{
                @extend .fas;
            }
            p{
                font-size: 1rem;
                color:rgb(165, 165, 165);
                margin-top: 10px;
                @media(max-width: 992px){
                    font-size: 0.8rem;
                }
                @media(max-width: 567px){
                    font-size: 0.7rem;
                }
            }
        }
    }
}