.creator {
  height: auto;
  padding: 0 !important;
  margin: 0 !important;
  background: url("../img/bg5.jpg") no-repeat;
  background-position: center;
}

.creator .creator-title {
  width: 100% !important;
  height: 100px !important;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 768px) {
  .creator .creator-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100% !important;
    height: 150px !important;
  }
}

.creator .creator-title p {
  position: relative;
  width: 30% !important;
  height: 50% !important;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 5px !important;
  margin: 0 !important;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #adadad;
  text-align: center;
}

@media (max-width: 768px) {
  .creator .creator-title p {
    width: 100% !important;
    height: 50% !important;
    top: 0%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    padding: 10px !important;
    margin: 0 !important;
  }
}

@media (max-width: 300px) {
  .creator .creator-title p {
    font-size: 0.9rem;
  }
}

.creator .creator-title .creator-list {
  position: relative;
  width: 70% !important;
  height: 100% !important;
  background: #430575;
}

@media (max-width: 768px) {
  .creator .creator-title .creator-list {
    width: 100% !important;
    height: 50% !important;
  }
}

.creator .creator-title .creator-list ul {
  width: 100% !important;
  height: auto !important;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.creator .creator-title .creator-list ul li {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.creator .creator-title .creator-list ul li:hover {
  color: red;
}

@media (max-width: 768px) {
  .creator .creator-title .creator-list ul li {
    font-size: 0.8rem;
  }
}

@media (max-width: 300px) {
  .creator .creator-title .creator-list ul li {
    font-size: 0.7rem;
  }
}

.creator .creator-content {
  width: 85% !important;
  height: auto !important;
  padding: 0 !important;
  margin: 10px auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
  background: white;
}

@media (max-width: 1300px) {
  .creator .creator-content {
    width: 100% !important;
    height: auto !important;
  }
}

@media (max-width: 1200px) {
  .creator .creator-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.creator .creator-content .creator-pattern {
  position: relative;
  height: auto;
  padding: 0 !important;
  margin: 0 !important;
}

.creator .creator-content .creator-pattern .color-pattern {
  width: 100% !important;
  height: 150px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.404);
}

@media (max-width: 992px) {
  .creator .creator-content .creator-pattern .color-pattern {
    width: 50% !important;
    height: 150px !important;
    float: left;
  }
}

@media (max-width: 576px) {
  .creator .creator-content .creator-pattern .color-pattern {
    width: 100% !important;
    height: 100px !important;
    display: block;
  }
}

.creator .creator-content .creator-pattern .color-pattern .color-title {
  width: 100% !important;
  height: 30% !important;
  background: #430575;
}

.creator .creator-content .creator-pattern .color-pattern .color-title p {
  text-align: center;
  color: #dfdfdf;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .creator .creator-content .creator-pattern .color-pattern .color-title p {
    font-size: 1rem;
  }
}

.creator .creator-content .creator-pattern .color-pattern .color-elements {
  width: 100% !important;
  height: 70% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .creator .creator-content .creator-pattern .color-pattern .color-elements {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.creator .creator-content .creator-pattern .color-pattern .color-elements .color-pattern-element {
  position: relative;
  top: 30%;
  width: 40px !important;
  height: 40px !important;
  margin: 2px;
  cursor: pointer;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  -webkit-box-shadow: 0 0 5px #7c7c7c;
          box-shadow: 0 0 5px #7c7c7c;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media (max-width: 1200px) {
  .creator .creator-content .creator-pattern .color-pattern .color-elements .color-pattern-element {
    width: 30px !important;
    height: 30px !important;
  }
}

.creator .creator-content .creator-pattern .creator-pattern-sizes {
  position: relative;
  width: 100% !important;
  height: 150px !important;
  padding: 0 !important;
  margin: 0 !important;
}

@media (max-width: 992px) {
  .creator .creator-content .creator-pattern .creator-pattern-sizes {
    width: 50% !important;
    height: 150px !important;
    float: left;
  }
}

@media (max-width: 576px) {
  .creator .creator-content .creator-pattern .creator-pattern-sizes {
    width: 100% !important;
    height: 140px !important;
    display: block;
  }
}

.creator .creator-content .creator-pattern .creator-pattern-sizes p {
  width: 100% !important;
  height: 30% !important;
  font-size: 1.1rem;
  padding-top: 10px;
  margin-bottom: 0;
  text-align: center;
  color: #e6e6e6;
  background: #430575;
}

@media (max-width: 768px) {
  .creator .creator-content .creator-pattern .creator-pattern-sizes p {
    font-size: 1rem;
  }
}

.creator .creator-content .creator-pattern .creator-pattern-sizes ul {
  width: 100% !important;
  height: 70% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 !important;
  margin: 0 !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  list-style-type: none;
}

.creator .creator-content .creator-pattern .creator-pattern-sizes ul li {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 60px;
  height: 50px;
  -webkit-box-shadow: 0 0 5px #9c9c9c;
          box-shadow: 0 0 5px #9c9c9c;
  border-bottom: 2px solid #680000;
  background-color: white;
}

.creator .creator-content .creator-pattern .creator-pattern-sizes ul li:hover {
  cursor: pointer;
  background-color: #b1b1b1;
}

@media (max-width: 992px) {
  .creator .creator-content .creator-pattern .creator-pattern-sizes ul li {
    width: 50px !important;
    height: 50px !important;
  }
}

.creator .creator-content .creator-pattern .creator-pattern-sizes ul li p {
  background: none;
  width: 100% !important;
  height: 100% !important;
  color: #353535;
  padding: 10px;
  font-size: 1.2rem;
}

@media (max-width: 992px) {
  .creator .creator-content .creator-pattern .creator-pattern-sizes ul li p {
    font-size: 1.1rem;
  }
}

.creator .creator-content .creator-pattern .theme-pattern-button {
  width: 100% !important;
  height: auto !important;
}

.creator .creator-content .creator-pattern .theme-pattern-button button {
  width: 130px !important;
  height: 60px !important;
  padding: 0 !important;
  margin: 10px auto !important;
  background: #fdfdfd;
  -webkit-box-shadow: 0 0 5px #555555;
          box-shadow: 0 0 5px #555555;
  color: #3c0a7c;
  border: none;
  outline: none;
  text-transform: uppercase;
  display: none;
}

@media (max-width: 768px) {
  .creator .creator-content .creator-pattern .theme-pattern-button button {
    display: block;
    width: 130px !important;
    height: 60px !important;
    font-size: 0.9rem;
  }
}

.creator .creator-content .creator-pattern .theme-pattern::-webkit-scrollbar {
  width: 10px;
}

.creator .creator-content .creator-pattern .theme-pattern::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 20px;
}

.creator .creator-content .creator-pattern .theme-pattern {
  position: relative;
  width: 100% !important;
  height: 500px !important;
  overflow: scroll;
}

@media (max-width: 992px) {
  .creator .creator-content .creator-pattern .theme-pattern {
    width: 100% !important;
    height: 300px !important;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .creator .creator-content .creator-pattern .theme-pattern {
    width: 100% !important;
    height: 180px !important;
    overflow-y: visible;
    white-space: nowrap;
  }
}

.creator .creator-content .creator-pattern .theme-pattern .theme-pattern-element {
  width: 100% !important;
  height: 200px !important;
  padding: 0 !important;
  margin: 5px auto !important;
  color: white;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px silver;
          box-shadow: 0 0 5px silver;
}

.creator .creator-content .creator-pattern .theme-pattern .theme-pattern-element img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 10rem;
}

@media (max-width: 992px) {
  .creator .creator-content .creator-pattern .theme-pattern .theme-pattern-element {
    width: 30% !important;
    height: 150px !important;
    display: inline-block;
  }
}

@media (max-width: 768px) {
  .creator .creator-content .creator-pattern .theme-pattern .theme-pattern-element {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 50% !important;
    height: 150px !important;
    padding: 0 !important;
    margin: 5px 10px !important;
  }
}

.creator .creator-content .creator-draw {
  position: relative;
  height: auto;
  padding: 0 !important;
  margin: 0 !important;
}

@media (max-width: 992px) {
  .creator .creator-content .creator-draw {
    width: 100% !important;
    height: auto !important;
  }
}

.creator .creator-content .creator-draw .tshirt {
  position: relative;
  width: 500px !important;
  height: 600px !important;
  margin-top: 5%;
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url("../img/tshirt.png");
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0 0 10px #7a7a7a;
          box-shadow: 0 0 10px #7a7a7a;
}

@media (max-width: 1100px) {
  .creator .creator-content .creator-draw .tshirt {
    width: 450px !important;
    height: 550px !important;
  }
}

@media (max-width: 800px) {
  .creator .creator-content .creator-draw .tshirt {
    width: 450 !important;
    height: 550px !important;
    position: relative;
    margin-top: 2%;
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 576px) {
  .creator .creator-content .creator-draw .tshirt {
    width: 90% !important;
    height: 600px !important;
  }
}

@media (max-width: 450px) {
  .creator .creator-content .creator-draw .tshirt {
    width: 100% !important;
    height: 500px !important;
  }
}

@media (max-width: 350px) {
  .creator .creator-content .creator-draw .tshirt {
    width: 95% !important;
    height: 400px !important;
  }
}

@media (max-width: 300px) {
  .creator .creator-content .creator-draw .tshirt {
    width: 100% !important;
    height: 350px !important;
  }
}

.creator .creator-content .creator-draw .tshirt .tshirt-content {
  position: absolute;
  width: 40%;
  height: 60%;
  margin-top: 20%;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 576px) {
  .creator .creator-content .creator-draw .tshirt .tshirt-content {
    width: 42%;
  }
}

@media (max-width: 350px) {
  .creator .creator-content .creator-draw .tshirt .tshirt-content {
    width: 45%;
  }
}

.creator .creator-content .creator-draw .tshirt .tshirt-content .tshirt-content-element {
  position: relative;
  width: 100% !important;
  height: auto !important;
  text-align: center;
  cursor: move;
}

.creator .creator-content .creator-draw .tshirt .tshirt-content .tshirt-content-element img {
  width: 100% !important;
  height: 5% !important;
}

.creator .creator-content .creator-settings {
  position: relative;
  height: auto;
}

@media (max-width: 1200px) {
  .creator .creator-content .creator-settings {
    padding: 0 !important;
    margin: 0 auto !important;
  }
}

.creator .creator-content .creator-settings p {
  width: 100%;
  text-align: center;
  padding: 20px;
  background: #dfdfdf;
}

@media (max-width: 576px) {
  .creator .creator-content .creator-settings p {
    padding: 14px;
  }
}

.creator .creator-content .creator-settings .creator-sett-content {
  width: 100% !important;
  height: 100px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 992px) {
  .creator .creator-content .creator-settings .creator-sett-content {
    padding: 0 !important;
    margin: 0 auto !important;
    width: 80% !important;
    height: 100px !important;
  }
}

.creator .creator-content .creator-settings .creator-sett-content button {
  position: relative;
  width: 80px !important;
  height: 80px !important;
  padding: 0 !important;
  margin: 5px !important;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: white;
  -webkit-box-shadow: 0 0 5px silver;
          box-shadow: 0 0 5px silver;
  border: none;
  font-size: 0.8rem;
}

@media (max-width: 1400px) {
  .creator .creator-content .creator-settings .creator-sett-content button {
    width: 60px !important;
    height: 60px !important;
    font-size: 0.7rem;
  }
}

.creator .creator-content .creator-settings .creator-sett-content button .fas {
  display: block;
  padding: 0 !important;
  margin: 5px auto !important;
  font-size: 1.5rem;
}

@media (max-width: 1400px) {
  .creator .creator-content .creator-settings .creator-sett-content button .fas {
    font-size: 1rem;
  }
}

.creator .creator-content .creator-settings .creator-summary {
  position: relative;
  width: 100% !important;
  height: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 1200px) {
  .creator .creator-content .creator-settings .creator-summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media (max-width: 576px) {
  .creator .creator-content .creator-settings .creator-summary {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 300px) {
  .creator .creator-content .creator-settings .creator-summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.creator .creator-content .creator-settings .creator-summary .summary-title {
  text-align: center;
  padding: 20px !important;
  margin: 0 !important;
}

.creator .creator-content .creator-settings .creator-summary .summary-element {
  width: 100% !important;
  height: 80px !important;
  -webkit-box-shadow: 0 0 5px #c5bebe;
          box-shadow: 0 0 5px #c5bebe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 1200px) {
  .creator .creator-content .creator-settings .creator-summary .summary-element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: auto !important;
    height: 250px !important;
  }
}

@media (max-width: 576px) {
  .creator .creator-content .creator-settings .creator-summary .summary-element {
    width: 30% !important;
    height: 200px !important;
  }
}

@media (max-width: 300px) {
  .creator .creator-content .creator-settings .creator-summary .summary-element {
    width: 100% !important;
    height: 150px !important;
  }
}

.creator .creator-content .creator-settings .creator-summary .summary-element p {
  width: 50% !important;
  height: auto !important;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #1a0303;
  color: silver;
  text-align: left;
  font-size: 0.9rem;
}

@media (max-width: 1200px) {
  .creator .creator-content .creator-settings .creator-summary .summary-element p {
    width: 100% !important;
    height: auto !important;
    top: 0%;
    -webkit-transform: none;
            transform: none;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .creator .creator-content .creator-settings .creator-summary .summary-element p {
    font-size: 14px;
  }
}

.creator .creator-content .creator-settings .creator-summary .summary-element .choosenColor, .creator .creator-content .creator-settings .creator-summary .summary-element .choosenSize {
  width: 50px !important;
  height: 50px !important;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0 !important;
  margin: 0 auto !important;
  -webkit-box-shadow: 0 0 5px silver;
          box-shadow: 0 0 5px silver;
}

@media (max-width: 1200px) {
  .creator .creator-content .creator-settings .creator-summary .summary-element .choosenColor, .creator .creator-content .creator-settings .creator-summary .summary-element .choosenSize {
    top: 20%;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
}

.creator .creator-content .creator-settings .creator-summary .summary-element .choosenColor p, .creator .creator-content .creator-settings .creator-summary .summary-element .choosenSize p {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.creator .creator-content .creator-settings .creator-summary .summary-element .choosenSize p {
  background: none;
  color: #2a0079;
}

.creator .creator-content .creator-settings .creator-summary .summary-element input {
  width: 50px !important;
  height: 50px !important;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0 !important;
  margin: 0 auto !important;
  border: none;
  -webkit-box-shadow: 0 0 5px silver;
          box-shadow: 0 0 5px silver;
  text-align: center;
}

@media (max-width: 1200px) {
  .creator .creator-content .creator-settings .creator-summary .summary-element input {
    top: 20%;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    padding: 0 !important;
    margin: 0 auto !important;
    width: 100px !important;
    height: 50px !important;
  }
}

.creator .creator-content .creator-settings .creator-summary .summary-element input::-webkit-outer-spin-button,
.creator .creator-content .creator-settings .creator-summary .summary-element input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.creator .creator-content .creator-settings .creator-summary .summary-element .price {
  text-align: center;
  background-color: #d1d1d1;
  font-size: 1.2rem;
  color: #3c0a75;
}

@media (max-width: 1200px) {
  .creator .creator-content .creator-settings .creator-summary .summary-element .price {
    width: 100% !important;
    height: auto !important;
    top: 20%;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
}

.creator .creator-content .creator-settings .buy {
  position: relative;
  width: 100px !important;
  height: 50px !important;
  padding: 0 !important;
  margin: 0 50% !important;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border: none;
  outline: none;
  -webkit-box-shadow: 0 0 5px silver;
          box-shadow: 0 0 5px silver;
  background-color: #95f795;
}
/*# sourceMappingURL=Creator.css.map */