@import './Variables.scss';

.creator{
   // @include maxWidthmaxHeight(100%,auto);
    height:auto;
    @include paddingMargin(0,0);
    background: radial-gradient(rgb(58, 58, 58),black);
    background-position: top;
    .creator-title{
        @include maxWidthmaxHeight(100%,100px);
        background: rgb(255, 255, 255);
        @include displayFlex(row);
        @media(max-width:768px){
            @include displayFlex(column);
            @include maxWidthmaxHeight(100%,150px);
        }
        p{
            position: relative;
            @include maxWidthmaxHeight(30%,50%);
            @include top50;
            @include paddingMargin(5px,0);
            text-transform: uppercase;
            font-size: 1.5rem;
            @include colorFont;
            text-align: center;
            @media(max-width:768px){
                @include maxWidthmaxHeight(100%,50%);
                top:0%;
                transform: translateY(0);
                @include paddingMargin(10px,0);
            }
            @media(max-width:300px){
                font-size: 0.9rem;
            }
        }
        .creator-list{
            position: relative;
            @include maxWidthmaxHeight(70%,100%);
            background: rgb(110, 0, 0);
            @media(max-width:768px){
                @include maxWidthmaxHeight(100%,50%);
            }
            ul{
                @include maxWidthmaxHeight(100%,auto);
                list-style-type: none;
                @include displayFlex(row);
                @include top50;
                justify-content: center;
                li{
                    color:rgb(228, 228, 228);
                    margin-left:10px;
                    margin-right:10px;
                    cursor: pointer;
                    &:hover{
                        color:red;
                    }
                    @media(max-width:768px){
                        font-size: 0.8rem;
                    }
                    @media(max-width:300px){
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }
    .creator-content{
        @include maxWidthmaxHeight(85%,auto);
        @include paddingMargin(0,10px auto);
        @include displayFlex(row);
        overflow: hidden;
        box-shadow: 0 0 5px rgb(90, 0, 0);
        @media(max-width: 1300px){
            @include maxWidthmaxHeight(100%,auto);
        }
        @media(max-width: 1200px){
            flex-wrap: wrap;
        }
        .creator-pattern{
            position: relative;
            //@include maxWidthmaxHeight(25%,auto);
            height: auto;
            @include paddingMargin(0,0);
            .color-pattern{
                @include maxWidthmaxHeight(100%,150px);
                @include displayFlex(column);
                justify-content: center;
                @media(max-width:992px){
                    @include maxWidthmaxHeight(50%,150px);
                    float: left;
                }
                @media(max-width:576px){
                    @include maxWidthmaxHeight(100%,100px);
                    display: block;
                }
                .color-title{
                    @include maxWidthmaxHeight(100%,30%);
                    p{
                        text-align: center;
                        color:rgb(223, 223, 223);
                        @include top50;
                        font-size: 1.1rem;
                        @media(max-width: 768px){
                            font-size: 1rem;
                        }
                    }
                }
                .color-elements{
                    @include maxWidthmaxHeight(100%,70%);
                    @include displayFlex(row);
                    justify-content: center;
                    flex-wrap: wrap;
                    @media(max-width:1200px){
                        flex-grow: 1;
                    }
                    .color-pattern-element{
                        position: relative;
                        top:30%;
                        @include maxWidthmaxHeight(40px,40px); 
                        margin: 2px;
                        cursor: pointer;
                        transform: skew(-20deg);
                        transition: all 0.2s;
                        @media(max-width:1200px){
                            @include maxWidthmaxHeight(30px,30px); 
                        }
                    }
                }
            }
            .creator-pattern-sizes{
                position: relative;
                @include maxWidthmaxHeight(100%,150px);
                @include paddingMargin(0,0);
                @media(max-width:992px){
                    @include maxWidthmaxHeight(50%,150px);
                    float: left;
                }
                @media(max-width:576px){
                    @include maxWidthmaxHeight(100%,140px);
                    display: block;
                }
                p{
                    @include maxWidthmaxHeight(100%,30%); 
                    font-size: 1.1rem;
                    padding-top: 10px;
                    margin-bottom: 0;
                    text-align: center;
                    color:rgb(230, 230, 230);
                    @media(max-width: 768px){
                        font-size: 1rem;
                    }
                }
                ul{
                    @include maxWidthmaxHeight(100%,70%);
                    @include displayFlex(row);
                    @include paddingMargin(0,0);
                    justify-content: center;
                    position: relative;
                    list-style-type: none;  
                    li{
                        @include paddingMargin(0,2px);
                        position: relative;
                        top:50%;
                        transform: translateY(-50%);
                        width:60px;
                        height:50px;
                        border-bottom: 2px solid rgb(119, 119, 119);
                        border-left: 2px solid rgb(119, 119, 119);
                        border-radius: 0 0 0 10px;
                        &:hover{
                          cursor:pointer;
                          background-color: rgb(177, 177, 177);
                        }
                        @media(max-width: 992px){
                            @include maxWidthmaxHeight(50px,50px);  
                        }
                        p{  
                            background: none;
                            @include maxWidthmaxHeight(100%,100%);
                            color:rgb(53, 53, 53);
                            padding: 10px;
                            font-size: 1.2rem;
                            @media(max-width: 992px){
                                font-size: 1.1rem;  
                            }
                        }
                    }
                }
            }
            .theme-pattern-button{
                @include maxWidthmaxHeight(100%,auto);
                button{
                    @include maxWidthmaxHeight(130px,60px);
                    @include paddingMargin(0,10px auto);
                    border-left: 1px solid silver;
                    border-top: 1px solid silver;
                    color:silver;
                    outline: none;
                    text-transform: uppercase;
                    display: none;
                    background: none;
                    font-size: 0.8rem;
                    @media(max-width: 768px){
                        display:block;
                        @include maxWidthmaxHeight(130px,60px);
                    }
                }
            }
            .theme-pattern::-webkit-scrollbar{
                width: 2px;
            }
            .theme-pattern::-webkit-scrollbar-thumb{
                background: rgb(201, 201, 201);
                border-radius: 20px;
            }
            .theme-pattern{
                position: relative;
                @include maxWidthmaxHeight(100%,500px);
                overflow:scroll;
                @media(max-width:992px){
                    @include maxWidthmaxHeight(100%,300px);
                    text-align: center;
                }
                @media(max-width:768px){
                    @include maxWidthmaxHeight(100%,180px);
                    overflow-y: visible;
                    white-space: nowrap;
                }
                .theme-pattern-element{
                    @include maxWidthmaxHeight(100%,200px);
                    @include paddingMargin(0,5px auto);
                    color:white;
                    text-align: center;
                    border-bottom: 2px solid silver;
                    cursor: pointer;
                    img{
                        @include top50;
                        width: 10rem;
                    }
                    @media(max-width: 992px){
                        @include maxWidthmaxHeight(30%,150px); 
                        display: inline-block;
                    }
                    @media(max-width: 768px){
                        @include top50;
                        @include maxWidthmaxHeight(50%,150px); 
                        @include paddingMargin(0,5px 10px)
                    }
                }
            }
        }
        .creator-draw{
            position: relative;
            //@include maxWidthmaxHeight(50%,auto);
            height: auto;
            @include paddingMargin(0,0);
            @media(max-width:992px){
                @include maxWidthmaxHeight(100%,auto);
            }
            .tshirt{
                position: relative;
                @include maxWidthmaxHeight(500px,600px);
                margin-top:5%;
                transform: translateY(-5%);
                left:50%;
                transform: translateX(-50%);
                background: url('../img/tshirt.png');
                background-size: cover;
                background-position: center;
                border-radius: 50px;
                box-shadow: 0 5px 0 rgb(105, 105, 105);
                @media(max-width:1100px){
                    @include maxWidthmaxHeight(450px,550px);
                }
                @media(max-width:800px){
                    @include maxWidthmaxHeight(450,550px);
                    position: relative;
                    margin-top:2%;
                    transform: translateY(-2%);
                    left:50%;
                    transform: translateX(-50%);
                }
                @media(max-width:576px){
                    @include maxWidthmaxHeight(90%,600px);
                }
                @media(max-width:450px){
                    @include maxWidthmaxHeight(100%,500px);
                }
                @media(max-width:350px){
                    @include maxWidthmaxHeight(95%,400px);
                }
                @media(max-width:300px){
                    @include maxWidthmaxHeight(100%,350px);
                }
                .tshirt-content{
                    position: absolute;
                    width: 40%;
                    height: 60%;
                    margin-top: 20%;
                    margin-left:50%;
                    transform: translateX(-50%);
                    @media(max-width:576px){
                        width: 42%;
                    }
                    @media(max-width:350px){
                        width: 45%;
                    }
                    .tshirt-content-element{
                        position: relative;
                        @include maxWidthmaxHeight(100%,auto);
                        text-align: center;
                        cursor: move;
                        img{
                            @include maxWidthmaxHeight(100%,5%);
                        }
                    }
                }
            }
        }
        .creator-settings{
            position: relative;
            //@include maxWidthmaxHeight(25%,auto);
            height:auto;
            @media(max-width:1200px){
                @include paddingMargin(0,0 auto);
            }
            p{
                width: 100%;
                text-align: center;
                padding:20px;
                @include colorFont;
                @media(max-width:576px){
                    padding:14px;
                }
            }
            .creator-sett-content{
                @include maxWidthmaxHeight(100%,100px);
                @include displayFlex(row);
                justify-content: center;
                flex-wrap: wrap;
                @media(max-width:992px){
                    @include paddingMargin(0,0 auto);
                    @include maxWidthmaxHeight(80%,100px);
                }
                button{
                    position: relative;
                    @include maxWidthmaxHeight(80px,80px);
                    @include paddingMargin(0,5px);
                    @include top50;
                    @include colorFont;
                    border:none;
                    font-size: 0.8rem;
                    background: none;
                    border: 1px solid silver;
                    border-radius: 10px;
                    @media(max-width:1400px){
                        @include maxWidthmaxHeight(60px,60px);
                        font-size: 0.7rem;
                    }
                    .fas{
                        display: block;
                        @include paddingMargin(0,5px auto);
                        font-size: 1.5rem;
                        @media(max-width:1400px){
                            font-size: 1rem;
                        }
                    }
                }
            }
            .creator-summary{
                position: relative;
                @include maxWidthmaxHeight(100%,auto);
                @include displayFlex(column);
                @media(max-width:1200px){
                    @include displayFlex(row);
                }
                @media(max-width:576px){
                    flex-wrap: wrap;
                    justify-content: center;
                }
                @media(max-width:300px){
                    @include displayFlex(column);
                }
                .summary-title{
                    text-align: center;
                    @include paddingMargin(20px,0);
                }
                .summary-element{
                    @include maxWidthmaxHeight(100%,80px);
                    @include displayFlex(row);
                    @media(max-width:1200px){
                        @include displayFlex(column);
                        @include maxWidthmaxHeight(auto,250px);
                    }
                    @media(max-width:576px){
                        @include maxWidthmaxHeight(30%,200px);
                    }
                    @media(max-width:300px){
                        @include maxWidthmaxHeight(100%,150px);
                    }
                    .element-title{
                        @include maxWidthmaxHeight(50%,100%);
                        color:silver;
                        text-align: center;
                        @media(max-width:1200px){
                            @include maxWidthmaxHeight(100%,auto);
                            top:0%;
                            transform: none;
                            text-align: center;
                        }
                        @media(max-width:576px){
                            font-size: 14px;
                        }
                        p{
                            @include top50;
                        }
                    }
                    .choosenColor{
                        @include maxWidthmaxHeight(50px,50px);
                        @include top50;
                        @include paddingMargin(0,0 auto);
                        border: 1px solid silver;
                        border-radius: 10px;
                        overflow: hidden;
                        @media(max-width:1200px){
                          top:20%;
                          transform: translateY(-20%);  
                        }
                    }
                    .choosenSize{
                        @extend .choosenColor;
                        text-align: center;
                        span{
                            color:rgb(201, 201, 201);
                            position: relative;
                            top:25%;
                            transform: translateY(-25%);
                        }
                    }
                    input{
                        @include maxWidthmaxHeight(50px,50px);
                        @include top50;
                        @include paddingMargin(0,0 auto);
                        color:rgb(201, 201, 201);
                        text-align: center;
                        background: none;
                        border: 1px solid silver;
                        border-radius: 10px;
                        @media(max-width:1200px){
                            top:20%;
                            transform: translateY(-20%);
                            @include paddingMargin(0,0 auto);
                        }
                    }
                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button{
                        -webkit-appearance: none;
                    }
                    .price{
                        text-align: center;
                        font-size: 1.2rem;
                        @include colorFont;
                        @media(max-width:1200px){
                            @include maxWidthmaxHeight(100%,auto);
                            top:20%;
                            transform: translateY(-20%);
                        }
                    }
                }
            }
            .buy{
                position: relative;
                @include maxWidthmaxHeight(100px,50px);
                @include paddingMargin(0,10px 50%);
                transform: translate(-50%);
                border-top:1px solid rgb(104, 104, 104);
                border-left:1px solid rgb(104, 104, 104);
                outline: none;
                background:none;
                color:silver;
            }
        }
    }
}