.creator {
  height: auto;
  padding: 0 !important;
  margin: 0 !important;
  background: url("../img/desks.jpg");
  background-position: top;
}

.creator .creator-title {
  width: 85% !important;
  height: 100px !important;
  padding: 0 !important;
  margin: 0 auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: black;
}

@media (max-width: 1200px) {
  .creator .creator-title {
    width: 100% !important;
    height: 100px !important;
  }
}

@media (max-width: 768px) {
  .creator .creator-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100% !important;
    height: 150px !important;
  }
}

.creator .creator-title p {
  position: relative;
  width: 30% !important;
  height: 50% !important;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 5px !important;
  margin: 0 !important;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #949494;
  text-align: center;
}

@media (max-width: 768px) {
  .creator .creator-title p {
    width: 100% !important;
    height: 50% !important;
    top: 0%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    padding: 10px !important;
    margin: 0 !important;
  }
}

@media (max-width: 300px) {
  .creator .creator-title p {
    font-size: 0.9rem;
  }
}

.creator .creator-title .creator-list {
  position: relative;
  width: 70% !important;
  height: 100% !important;
  background: black;
}

@media (max-width: 768px) {
  .creator .creator-title .creator-list {
    width: 100% !important;
    height: 50% !important;
  }
}

.creator .creator-title .creator-list ul {
  width: 100% !important;
  height: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.creator .creator-title .creator-list ul li {
  width: auto !important;
  height: 100% !important;
  padding: 10px;
  background: black;
  margin-left: 10px;
  margin-right: 10px;
}

.creator .creator-title .creator-list ul li:hover {
  background: #c40000;
}

.creator .creator-title .creator-list ul li P {
  width: 100% !important;
  height: auto !important;
  font-size: 0.9rem;
  color: #e7e7e7;
  cursor: pointer;
}

@media (max-width: 768px) {
  .creator .creator-title .creator-list ul li P {
    font-size: 0.8rem;
  }
}

@media (max-width: 300px) {
  .creator .creator-title .creator-list ul li P {
    font-size: 0.7rem;
  }
}

.creator .creator-content {
  width: 85% !important;
  height: auto !important;
  padding: 0 !important;
  margin: 0 auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
  border: 2px solid #615700;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(58, 58, 58, 0.384)), to(black));
  background: linear-gradient(to top, rgba(58, 58, 58, 0.384), black);
}

@media (max-width: 1300px) {
  .creator .creator-content {
    width: 100% !important;
    height: auto !important;
  }
}

@media (max-width: 1200px) {
  .creator .creator-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.creator .creator-content .creator-pattern {
  position: relative;
  height: auto;
  padding: 0 !important;
  margin: 0 !important;
}

.creator .creator-content .creator-pattern .color-pattern {
  width: 100% !important;
  height: 150px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 992px) {
  .creator .creator-content .creator-pattern .color-pattern {
    width: 50% !important;
    height: 150px !important;
    float: left;
  }
}

@media (max-width: 576px) {
  .creator .creator-content .creator-pattern .color-pattern {
    width: 100% !important;
    height: 100px !important;
    display: block;
  }
}

.creator .creator-content .creator-pattern .color-pattern .color-title {
  width: 100% !important;
  height: 30% !important;
}

.creator .creator-content .creator-pattern .color-pattern .color-title p {
  text-align: center;
  color: #dfdfdf;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .creator .creator-content .creator-pattern .color-pattern .color-title p {
    font-size: 1rem;
  }
}

.creator .creator-content .creator-pattern .color-pattern .color-elements {
  width: 100% !important;
  height: 70% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .creator .creator-content .creator-pattern .color-pattern .color-elements {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.creator .creator-content .creator-pattern .color-pattern .color-elements .color-pattern-element {
  position: relative;
  top: 30%;
  width: 40px !important;
  height: 40px !important;
  margin: 2px;
  cursor: pointer;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media (max-width: 1200px) {
  .creator .creator-content .creator-pattern .color-pattern .color-elements .color-pattern-element {
    width: 30px !important;
    height: 30px !important;
  }
}

.creator .creator-content .creator-pattern .creator-pattern-sizes {
  position: relative;
  width: 100% !important;
  height: 150px !important;
  padding: 0 !important;
  margin: 0 !important;
}

@media (max-width: 992px) {
  .creator .creator-content .creator-pattern .creator-pattern-sizes {
    width: 50% !important;
    height: 150px !important;
    float: left;
  }
}

@media (max-width: 576px) {
  .creator .creator-content .creator-pattern .creator-pattern-sizes {
    width: 100% !important;
    height: 140px !important;
    display: block;
  }
}

.creator .creator-content .creator-pattern .creator-pattern-sizes p {
  width: 100% !important;
  height: 30% !important;
  font-size: 1.1rem;
  padding-top: 10px;
  margin-bottom: 0;
  text-align: center;
  color: #e6e6e6;
}

@media (max-width: 768px) {
  .creator .creator-content .creator-pattern .creator-pattern-sizes p {
    font-size: 1rem;
  }
}

.creator .creator-content .creator-pattern .creator-pattern-sizes ul {
  width: 100% !important;
  height: 70% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 !important;
  margin: 0 !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  list-style-type: none;
}

.creator .creator-content .creator-pattern .creator-pattern-sizes ul li {
  padding: 0 !important;
  margin: 2px !important;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 60px;
  height: 50px;
  border-bottom: 2px solid #777777;
  border-left: 2px solid #777777;
  border-radius: 0 0 0 10px;
}

.creator .creator-content .creator-pattern .creator-pattern-sizes ul li:hover {
  cursor: pointer;
  background-color: #b1b1b1;
}

@media (max-width: 992px) {
  .creator .creator-content .creator-pattern .creator-pattern-sizes ul li {
    width: 50px !important;
    height: 50px !important;
  }
}

.creator .creator-content .creator-pattern .creator-pattern-sizes ul li p {
  background: none;
  width: 100% !important;
  height: 100% !important;
  color: #353535;
  padding: 10px;
  font-size: 1.2rem;
}

@media (max-width: 992px) {
  .creator .creator-content .creator-pattern .creator-pattern-sizes ul li p {
    font-size: 1.1rem;
  }
}

.creator .creator-content .creator-pattern .theme-pattern-button {
  width: 100% !important;
  height: auto !important;
}

.creator .creator-content .creator-pattern .theme-pattern-button button {
  width: 130px !important;
  height: 60px !important;
  padding: 0 !important;
  margin: 10px auto !important;
  border-left: 1px solid silver;
  border-top: 1px solid silver;
  color: silver;
  outline: none;
  text-transform: uppercase;
  display: none;
  background: none;
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .creator .creator-content .creator-pattern .theme-pattern-button button {
    display: block;
    width: 130px !important;
    height: 60px !important;
  }
}

.creator .creator-content .creator-pattern .theme-pattern::-webkit-scrollbar {
  width: 2px;
}

@media (max-width: 768px) {
  .creator .creator-content .creator-pattern .theme-pattern::-webkit-scrollbar {
    height: 5px;
  }
}

.creator .creator-content .creator-pattern .theme-pattern::-webkit-scrollbar-thumb {
  background: #7a7a7a;
  border-radius: 10px;
}

.creator .creator-content .creator-pattern .theme-pattern {
  position: relative;
  width: 100% !important;
  height: 500px !important;
  overflow: scroll;
}

@media (max-width: 992px) {
  .creator .creator-content .creator-pattern .theme-pattern {
    width: 100% !important;
    height: 300px !important;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .creator .creator-content .creator-pattern .theme-pattern {
    width: 100% !important;
    height: 180px !important;
    overflow-y: visible;
    white-space: nowrap;
  }
}

.creator .creator-content .creator-pattern .theme-pattern .theme-pattern-element {
  width: 100% !important;
  height: 200px !important;
  padding: 0 !important;
  margin: 5px auto !important;
  color: white;
  text-align: center;
  border-bottom: 2px solid whitesmoke;
  cursor: pointer;
}

.creator .creator-content .creator-pattern .theme-pattern .theme-pattern-element img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 10rem;
}

@media (max-width: 992px) {
  .creator .creator-content .creator-pattern .theme-pattern .theme-pattern-element {
    width: 30% !important;
    height: 150px !important;
    display: inline-block;
  }
}

@media (max-width: 768px) {
  .creator .creator-content .creator-pattern .theme-pattern .theme-pattern-element {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 50% !important;
    height: 150px !important;
    padding: 0 !important;
    margin: 5px 10px !important;
  }
}

.creator .creator-content .creator-draw {
  position: relative;
  height: auto;
  padding: 0 !important;
  margin: 0 !important;
}

@media (max-width: 992px) {
  .creator .creator-content .creator-draw {
    width: 100% !important;
    height: auto !important;
  }
}

.creator .creator-content .creator-draw .tshirt {
  position: relative;
  width: 500px !important;
  height: 600px !important;
  margin-top: 5%;
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url("../img/tshirt.png");
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  -webkit-box-shadow: 0 5px 0 dimgray;
          box-shadow: 0 5px 0 dimgray;
}

@media (max-width: 1100px) {
  .creator .creator-content .creator-draw .tshirt {
    width: 450px !important;
    height: 550px !important;
  }
}

@media (max-width: 800px) {
  .creator .creator-content .creator-draw .tshirt {
    width: 450 !important;
    height: 550px !important;
    position: relative;
    margin-top: 2%;
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 576px) {
  .creator .creator-content .creator-draw .tshirt {
    width: 90% !important;
    height: 600px !important;
  }
}

@media (max-width: 450px) {
  .creator .creator-content .creator-draw .tshirt {
    width: 100% !important;
    height: 500px !important;
  }
}

@media (max-width: 350px) {
  .creator .creator-content .creator-draw .tshirt {
    width: 95% !important;
    height: 400px !important;
  }
}

@media (max-width: 300px) {
  .creator .creator-content .creator-draw .tshirt {
    width: 100% !important;
    height: 350px !important;
  }
}

.creator .creator-content .creator-draw .tshirt .tshirt-content {
  position: absolute;
  width: 40%;
  height: 60%;
  margin-top: 20%;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 576px) {
  .creator .creator-content .creator-draw .tshirt .tshirt-content {
    width: 42%;
  }
}

@media (max-width: 350px) {
  .creator .creator-content .creator-draw .tshirt .tshirt-content {
    width: 45%;
  }
}

.creator .creator-content .creator-draw .tshirt .tshirt-content .tshirt-content-element {
  position: relative;
  width: 100% !important;
  height: auto !important;
  text-align: center;
  cursor: move;
}

.creator .creator-content .creator-draw .tshirt .tshirt-content .tshirt-content-element img {
  width: 100% !important;
  height: 5% !important;
}

.creator .creator-content .creator-settings {
  position: relative;
  height: auto;
}

@media (max-width: 1200px) {
  .creator .creator-content .creator-settings {
    padding: 0 !important;
    margin: 0 auto !important;
  }
}

.creator .creator-content .creator-settings p {
  width: 100%;
  text-align: center;
  padding: 20px;
  color: #949494;
}

@media (max-width: 576px) {
  .creator .creator-content .creator-settings p {
    padding: 14px;
  }
}

.creator .creator-content .creator-settings .creator-sett-content {
  width: 100% !important;
  height: 100px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 992px) {
  .creator .creator-content .creator-settings .creator-sett-content {
    padding: 0 !important;
    margin: 0 auto !important;
    width: 80% !important;
    height: 100px !important;
  }
}

.creator .creator-content .creator-settings .creator-sett-content button {
  position: relative;
  width: 80px !important;
  height: 80px !important;
  padding: 0 !important;
  margin: 5px !important;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #949494;
  border: none;
  font-size: 0.8rem;
  background: none;
  border: 1px solid silver;
  border-radius: 10px;
}

@media (max-width: 1400px) {
  .creator .creator-content .creator-settings .creator-sett-content button {
    width: 60px !important;
    height: 60px !important;
    font-size: 0.7rem;
  }
}

.creator .creator-content .creator-settings .creator-sett-content button .fas {
  display: block;
  padding: 0 !important;
  margin: 5px auto !important;
  font-size: 1.5rem;
}

@media (max-width: 1400px) {
  .creator .creator-content .creator-settings .creator-sett-content button .fas {
    font-size: 1rem;
  }
}

.creator .creator-content .creator-settings .creator-summary {
  position: relative;
  width: 100% !important;
  height: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 1200px) {
  .creator .creator-content .creator-settings .creator-summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media (max-width: 576px) {
  .creator .creator-content .creator-settings .creator-summary {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 300px) {
  .creator .creator-content .creator-settings .creator-summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.creator .creator-content .creator-settings .creator-summary .summary-title {
  text-align: center;
  padding: 20px !important;
  margin: 0 !important;
}

.creator .creator-content .creator-settings .creator-summary .summary-element {
  width: 100% !important;
  height: 80px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 1200px) {
  .creator .creator-content .creator-settings .creator-summary .summary-element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: auto !important;
    height: 250px !important;
  }
}

@media (max-width: 576px) {
  .creator .creator-content .creator-settings .creator-summary .summary-element {
    width: 30% !important;
    height: 200px !important;
  }
}

@media (max-width: 300px) {
  .creator .creator-content .creator-settings .creator-summary .summary-element {
    width: 100% !important;
    height: 150px !important;
  }
}

.creator .creator-content .creator-settings .creator-summary .summary-element .element-title {
  width: 50% !important;
  height: 100% !important;
  color: white;
  text-align: center;
}

@media (max-width: 1200px) {
  .creator .creator-content .creator-settings .creator-summary .summary-element .element-title {
    width: 100% !important;
    height: auto !important;
    top: 0%;
    -webkit-transform: none;
            transform: none;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .creator .creator-content .creator-settings .creator-summary .summary-element .element-title {
    font-size: 14px;
  }
}

.creator .creator-content .creator-settings .creator-summary .summary-element .element-title p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.creator .creator-content .creator-settings .creator-summary .summary-element .choosenColor, .creator .creator-content .creator-settings .creator-summary .summary-element .choosenSize {
  width: 50px !important;
  height: 50px !important;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0 !important;
  margin: 0 auto !important;
  border: 1px solid silver;
  border-radius: 10px;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .creator .creator-content .creator-settings .creator-summary .summary-element .choosenColor, .creator .creator-content .creator-settings .creator-summary .summary-element .choosenSize {
    top: 20%;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
}

.creator .creator-content .creator-settings .creator-summary .summary-element .choosenSize {
  text-align: center;
}

.creator .creator-content .creator-settings .creator-summary .summary-element .choosenSize span {
  color: #f0f0f0;
  position: relative;
  top: 25%;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}

.creator .creator-content .creator-settings .creator-summary .summary-element input {
  width: 50px !important;
  height: 50px !important;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0 !important;
  margin: 0 auto !important;
  color: #f0f0f0;
  text-align: center;
  background: none;
  border: 1px solid silver;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .creator .creator-content .creator-settings .creator-summary .summary-element input {
    top: 20%;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    padding: 0 !important;
    margin: 0 auto !important;
  }
}

.creator .creator-content .creator-settings .creator-summary .summary-element input::-webkit-outer-spin-button,
.creator .creator-content .creator-settings .creator-summary .summary-element input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.creator .creator-content .creator-settings .creator-summary .summary-element .price {
  text-align: center;
  font-size: 1.2rem;
  color: #949494;
}

@media (max-width: 1200px) {
  .creator .creator-content .creator-settings .creator-summary .summary-element .price {
    width: 100% !important;
    height: auto !important;
    top: 20%;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
}

.creator .creator-content .creator-settings .buy {
  position: relative;
  width: 100px !important;
  height: 50px !important;
  padding: 0 !important;
  margin: 10px 50% !important;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border-top: 1px solid #686868;
  border-left: 1px solid #686868;
  outline: none;
  background: none;
  color: #f0f0f0;
}

.creator .summary {
  padding: 0;
  position: absolute;
  height: 700px;
  background: #fafafa;
  top: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: -webkit-gradient(linear, left top, right top, from(black), to(#073264));
  background: linear-gradient(to right, black, #073264);
}

.creator .summary .summary-title {
  width: 100% !important;
  height: 20% !important;
  position: relative;
}

.creator .summary .summary-title p {
  text-align: center;
  color: white;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.creator .summary .summary-content {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  height: 80% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

.creator .summary .summary-content .summary-content-element {
  width: 50% !important;
  height: 100% !important;
  overflow: hidden;
}

.creator .summary .summary-content .summary-content-element:last-child {
  border-radius: 20% 0 0 20%;
  border-left: 10px solid silver;
}

.creator .summary .summary-content .summary-content-element .element-info {
  width: 100% !important;
  height: 30% !important;
  display: block;
  border-bottom: 2px solid #a3a3a3;
  border-radius: 0 0 20% 20%;
}

.creator .summary .summary-content .summary-content-element .element-info p {
  margin-top: 5px;
  text-align: center;
  color: #cacaca;
  font-size: 1.5rem;
}

.creator .summary .summary-content .summary-content-element .element-info .summary-color {
  width: 80px !important;
  height: 80px !important;
  padding: 0 !important;
  margin: 0 auto !important;
  border: 1px solid black;
  border-radius: 10%;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.creator .summary .summary-content .summary-content-element .element-info .summary-size {
  text-align: center;
  width: 80px !important;
  height: 80px !important;
  padding: 0 !important;
  margin: 0 auto !important;
  font-size: 3rem;
  color: #4e4e4e;
  background-color: white;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.creator .summary .summary-content .summary-content-element .element-info .summary-quantity {
  text-align: center;
  width: 80px !important;
  height: 80px !important;
  padding: 0 !important;
  margin: 0 auto !important;
  font-size: 3rem;
  color: #4e4e4e;
  background-color: white;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
/*# sourceMappingURL=Creator.css.map */