.carousel {
  width: 100% !important;
  height: auto !important;
  padding: 0 !important;
  margin: 0 auto !important;
  overflow: hidden;
  -webkit-box-shadow: 0 10px 20px black;
          box-shadow: 0 10px 20px black;
  z-index: 1;
  /*.carousel-tv{
        @include maxWidthmaxHeight(100%,30px);
        background: rgb(0, 0, 0);
        display: none;
            @media(max-width:576px){
                @include maxWidthmaxHeight(100%,15px);
            }
        p{
            @include top50;
            font-size: 0.8rem;
            text-align: center;
            color:rgb(199, 199, 199);
                @media(max-width:576px){
                    font-size: 0.7rem;
                }
        }
    }*/
}

@media (max-width: 1200px) {
  .carousel {
    width: 98% !important;
    height: auto !important;
  }
}

@media (max-width: 768px) {
  .carousel {
    border: 15px solid black;
    border-bottom: 5px solid #e0e0e0;
  }
}

@media (max-width: 576px) {
  .carousel {
    border: 8px solid black;
    border-bottom: 5px solid #e0e0e0;
  }
}

@media (max-width: 450px) {
  .carousel {
    width: 100% !important;
    height: auto !important;
    border: 2px solid black;
    border-bottom: 3px solid #e0e0e0;
  }
}

.carousel .nextBtn {
  width: 30% !important;
  height: 100% !important;
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: 100;
  background: none;
  outline: none;
  border: none;
}

@media (max-width: 768px) {
  .carousel .nextBtn {
    width: 50% !important;
    height: 100% !important;
  }
}

.carousel .nextBtn:hover {
  cursor: url("../cursors/cursorRight.png"), auto;
}

.carousel .prevBtn {
  width: 30% !important;
  height: 100% !important;
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 100;
  background: none;
  outline: none;
  border: none;
}

@media (max-width: 768px) {
  .carousel .prevBtn {
    width: 50% !important;
    height: 100% !important;
  }
}

.carousel .prevBtn:hover {
  cursor: url("../cursors/cursorLeft.png"), auto;
}

.carousel .navBtnContent {
  width: 100% !important;
  height: 60px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: none;
  position: absolute;
  bottom: 0px;
  z-index: 1;
}

@media (max-width: 576px) {
  .carousel .navBtnContent {
    width: 100% !important;
    height: 30px !important;
    bottom: 15px;
  }
}

.carousel .navBtnContent .navBtn {
  width: 60px !important;
  height: 5px !important;
  padding: 0 !important;
  margin: 2px !important;
  position: relative;
  border: 1px solid #979797;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.carousel .navBtnContent .navBtn:hover {
  cursor: pointer;
  border: 2px solid #007ea5;
}

.carousel .carousel-content {
  width: 100% !important;
  height: 650px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  scroll-behavior: smooth;
}

@media (max-width: 996px) {
  .carousel .carousel-content {
    width: 100% !important;
    height: 550px !important;
  }
}

@media (max-width: 768px) {
  .carousel .carousel-content {
    width: 100% !important;
    height: 500px !important;
  }
}

@media (max-width: 576px) {
  .carousel .carousel-content {
    width: 100% !important;
    height: 450px !important;
  }
}

@media (max-width: 450px) {
  .carousel .carousel-content {
    width: 100% !important;
    height: 400px !important;
  }
}

.carousel .carousel-content .carousel-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
  /*.catClass{
                @include maxWidthmaxHeight(100%,auto);
                position: absolute;
                top:20%;
                @media(max-width: 768px){
                    @include maxWidthmaxHeight(100%,auto);
                }
                p{
                    @include paddingMargin(5px,0);
                    text-align: center;
                    font-size: 38px;
                    text-transform: uppercase;
                    font-weight: 600;
                    color:rgb(230, 230, 230);
                    font-family: 'Indie Flower', cursive;
                    @media(max-width: 768px){
                        font-size: 20px;
                    }
                    @media(max-width: 425px){
                        font-size: 15px;
                    }
                }
            }
            .africaClass{
                @include maxWidthmaxHeight(100%,auto);
                position: absolute;
                &:first-child{
                    @include maxWidthmaxHeight(50%,auto);
                    padding: 10px;
                    margin-left:50%;
                    margin-top:30px;
                    color:rgb(0, 0, 0);
                    @media(max-width: 768px){
                        @include maxWidthmaxHeight(100%,auto);
                    }
                    p{
                        @include paddingMargin(5px,0);
                        text-align: center;
                        font-size: 38px;
                        text-transform: uppercase;
                        font-weight: 600;
                        @media(max-width: 768px){
                            font-size: 20px;
                        }
                        @media(max-width: 425px){
                            font-size: 15px;
                        }
                    }
                }
                &:last-child{
                    @include maxWidthmaxHeight(200px,200px);
                    background: rgba(0, 0, 0, 0.712); 
                    color:rgb(241, 241, 241);
                    border-radius: 50%;
                    margin-left:80%;
                    top:60%;
                    transform: translateY(-60%);
                    @media(max-width: 768px){
                        @include maxWidthmaxHeight(100px,100px);
                    }
                    @media(max-width: 768px){
                        top:55%;
                    }
                    p{
                        @include paddingMargin(5px,0);
                        @include top50;
                        text-align: center;
                        font-size: 30px;
                        text-transform: uppercase;
                        font-weight: 600;
                        @media(max-width: 768px){
                            font-size: 20px;
                        }
                    }
                }
            }*/
}

/*.carousel-content-stand{
    @include maxWidthmaxHeight(200px,150px);
    @include paddingMargin(0,0 auto);
    background: #000;
    box-shadow: 0 0 10px black;
    display: none;
        @media(max-width:996px){
            @include maxWidthmaxHeight(150px,100px);
        }
        @media(max-width:768px){
            @include maxWidthmaxHeight(100px,80px);
        }
}*/
.homePageInfo-col {
  padding: 0 !important;
  height: auto;
  background: url(../img/bg8.jpg);
}

.homePageInfo-col .homePageInfo {
  height: auto;
  padding: 0px !important;
}

.homePageInfo-col .homePageInfo .homePage-title {
  height: 100px;
  margin: 0 auto;
  z-index: 1;
}

.homePageInfo-col .homePageInfo .homePage-title p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 5px !important;
  margin: 0 auto !important;
  width: 80%;
  padding: 0rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: #f8f8f8;
  font-weight: 800;
  border-bottom: 1px solid white;
}

@media (max-width: 992px) {
  .homePageInfo-col .homePageInfo .homePage-title p {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-title p {
    font-size: 1.2rem;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .homePageInfo-col .homePageInfo .homePage-title p {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .homePageInfo-col .homePageInfo .homePage-title p {
    font-size: 0.8rem;
  }
}

.homePageInfo-col .homePageInfo .homePage-article-prize {
  padding: 0;
  margin-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 600px;
  overflow: hidden;
  -webkit-box-shadow: 0 10px 20px black;
          box-shadow: 0 10px 20px black;
}

@media (max-width: 1200px) {
  .homePageInfo-col .homePageInfo .homePage-article-prize {
    height: auto;
  }
}

.homePageInfo-col .homePageInfo .homePage-article-prize .article-prize-el {
  width: 450px !important;
  height: 550px !important;
  padding: 0 !important;
  margin: 20px 5px !important;
  position: relative;
}

@media (max-width: 1200px) {
  .homePageInfo-col .homePageInfo .homePage-article-prize .article-prize-el {
    width: 250px !important;
    height: 350px !important;
  }
}

@media (max-width: 576px) {
  .homePageInfo-col .homePageInfo .homePage-article-prize .article-prize-el {
    width: 200px !important;
    height: 300px !important;
  }
}

@media (max-width: 250px) {
  .homePageInfo-col .homePageInfo .homePage-article-prize .article-prize-el {
    width: 100% !important;
    height: 250px !important;
  }
}

.homePageInfo-col .homePageInfo .homePage-article-prize .article-prize-el img {
  padding: 0 !important;
  margin: 5px !important;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
}

@media (max-width: 576px) {
  .homePageInfo-col .homePageInfo .homePage-article-prize .article-prize-el img {
    padding: 0 !important;
    margin: 15px auto !important;
  }
}

.homePageInfo-col .homePageInfo .homePage-article-prize .article-prize-el .element-descript {
  width: 100% !important;
  height: 20% !important;
  position: absolute;
  bottom: 0%;
  display: block;
}

.homePageInfo-col .homePageInfo .homePage-article-prize .article-prize-el .element-descript p {
  padding: 0 !important;
  margin: 5px !important;
  text-align: center;
  color: #c5c5c5;
  font-size: 1rem;
  font-weight: 600;
}

.homePageInfo-col .homePageInfo .homePage-article-prize .article-prize-el .element-descript p:first-child {
  font-size: 1.5rem;
  color: white;
}

@media (max-width: 576px) {
  .homePageInfo-col .homePageInfo .homePage-article-prize .article-prize-el .element-descript p {
    font-size: 0.8rem;
  }
}

.homePageInfo-col .homePageInfo .homePage-article {
  padding: 0px !important;
  margin: 0px auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100% !important;
  height: 500px !important;
  -webkit-box-shadow: 0 20px 20px black;
          box-shadow: 0 20px 20px black;
}

@media (max-width: 1200px) {
  .homePageInfo-col .homePageInfo .homePage-article {
    width: 100% !important;
    height: 400px !important;
  }
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 500px;
  }
}

.homePageInfo-col .homePageInfo .homePage-article .article-part {
  position: relative;
  width: 50% !important;
  height: 100% !important;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part {
    width: 100%;
  }
}

.homePageInfo-col .homePageInfo .homePage-article .article-part:first-child {
  color: #e4e4e4;
  -webkit-animation: leftArrow 1s linear;
          animation: leftArrow 1s linear;
  background: rgba(0, 0, 0, 0.404);
  z-index: 1;
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:first-child {
    width: 100% !important;
    height: 60% !important;
    padding: 0 !important;
    margin: 0 auto !important;
    -webkit-clip-path: none;
            clip-path: none;
  }
}

@-webkit-keyframes leftArrow {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes leftArrow {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

.homePageInfo-col .homePageInfo .homePage-article .article-part:first-child #zapraszamy {
  font-size: 3rem;
  color: #e4e4e4;
  font-weight: 800;
}

@media (max-width: 996px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:first-child #zapraszamy {
    left: 0;
  }
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:first-child #zapraszamy {
    font-size: 2rem;
  }
}

@media (max-width: 200px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:first-child #zapraszamy {
    font-size: 1rem;
  }
}

.homePageInfo-col .homePageInfo .homePage-article .article-part:first-child p {
  width: 80% !important;
  height: auto !important;
  padding: 0 !important;
  margin: 0 auto !important;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.5rem;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:first-child p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:first-child p {
    font-size: 1rem;
    width: 95% !important;
    height: auto !important;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:first-child p {
    font-size: 0.9rem;
  }
}

@media (max-width: 320px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:first-child p {
    font-size: 0.7rem;
  }
}

.homePageInfo-col .homePageInfo .homePage-article .article-part:last-child {
  background: -webkit-gradient(linear, left top, right top, from(#00122b), to(rgba(0, 0, 0, 0))), url("../img/bg2.jpg");
  background: linear-gradient(to right, #00122b, rgba(0, 0, 0, 0)), url("../img/bg2.jpg");
  background-size: cover;
  -webkit-animation: rightArrow 2s linear;
          animation: rightArrow 2s linear;
}

@media (max-width: 992px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:last-child {
    width: 50% !important;
    height: 100% !important;
  }
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:last-child {
    padding: 0 !important;
    margin: 0 auto !important;
    width: 100% !important;
    height: 40% !important;
  }
}

@media (max-width: 576px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:last-child {
    width: 100% !important;
    height: 50% !important;
  }
}

@-webkit-keyframes rightArrow {
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}

@keyframes rightArrow {
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}

.homePageInfo-col .homePageInfo .homePage-article .article-part:last-child p {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  text-align: center;
  font-size: 2rem;
  color: #669cff;
  font-weight: 400;
  font-family: 'Indie Flower', cursive;
}

@media (max-width: 992px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:last-child p {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:last-child p {
    font-size: 1.2rem;
  }
}

@media (max-width: 450px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:last-child p {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:last-child p {
    font-size: 0.8rem;
  }
}

.homePageInfo-col .homePageInfo .homePage-article-2 {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  height: auto !important;
  background: #030303;
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-title-article-2 {
  width: 100% !important;
  height: 100px !important;
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-title-article-2 p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 80% !important;
  height: auto !important;
  padding: 0 !important;
  margin: 0 auto !important;
  font-size: 1.7rem;
  text-align: left;
  padding: 2rem;
  color: #d1d1d1;
  font-weight: 800;
}

@media (max-width: 450px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-title-article-2 p {
    font-size: 1.2rem;
  }
}

@media (max-width: 320px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-title-article-2 p {
    font-size: 0.8rem;
  }
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  height: auto !important;
  background: url("../img/catnight.png");
  background-position: center;
  background-size: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 10px 10px black;
          box-shadow: 0 10px 10px black;
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part {
    width: 100% !important;
    height: auto !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon {
  width: 400px !important;
  height: 500px !important;
  padding: 0 !important;
  margin: 5px !important;
  position: relative;
  text-align: center;
  /*&:first-child{
                            background-size: cover;
                                @media(max-width:768px){
                                    transform:skewY(0deg);
                                }
                        }
                        &:nth-child(2){
                            background-size: cover;
                                @media(max-width:768px){
                                    transform:skewY(0deg);
                                }
                        }
                        &:last-child{
                            background-size: cover;
                                @media(max-width:768px){
                                    transform:skewY(0deg);
                                }
                        }*/
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon img {
  width: 10rem;
}

@media (max-width: 992px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon {
    width: 80% !important;
    height: 400px !important;
  }
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon {
    padding: 0 !important;
    margin: 0 auto !important;
    width: 50% !important;
    height: 300px !important;
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-transform: skewY(0deg);
            transform: skewY(0deg);
    -webkit-box-shadow: 0 0 10px #020202;
            box-shadow: 0 0 10px #020202;
  }
}

@media (max-width: 576px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon {
    width: 80% !important;
    height: 250px !important;
  }
}

@media (max-width: 425px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon {
    width: 90% !important;
    height: 250px !important;
  }
}

@media (max-width: 320px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon {
    width: 100% !important;
    height: 300px !important;
  }
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon p {
  padding: 2px !important;
  margin: 0 !important;
  position: relative;
  color: #969696;
  font-size: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon p {
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon p {
    font-size: 1rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .description {
  width: 100%;
  position: absolute;
  font-size: 1rem;
  top: 60%;
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .description {
    font-size: 0.9rem;
    top: 80%;
  }
}

@media (max-width: 576px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .description {
    font-size: 0.9rem;
  }
}

@media (max-width: 375px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .description {
    font-size: 0.8rem;
  }
}

.homePageInfo-col .homePageInfo .homePage-article-3 {
  width: 100% !important;
  height: auto !important;
  padding: 10px !important;
  margin: 0px auto !important;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: top;
  background-size: cover;
}

.homePageInfo-col .homePageInfo .homePage-article-3 .homePage-article-3-title {
  width: 100% !important;
  height: 100px !important;
  display: block;
  overflow: hidden;
  text-align: left;
}

.homePageInfo-col .homePageInfo .homePage-article-3 .homePage-article-3-title p {
  padding: 0 !important;
  margin: 0 auto !important;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 80%;
  font-size: 2rem;
  color: #bdbdbd;
  border-bottom: 1px solid #920000;
}

.homePageInfo-col .homePageInfo .homePage-article-3 .category {
  width: 300px !important;
  height: 300px !important;
  padding: 0 !important;
  margin: 10px !important;
  text-align: center;
  display: inline-block;
  -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
          clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
  -webkit-box-shadow: 0 0 10px #1a1a1a;
          box-shadow: 0 0 10px #1a1a1a;
}

.homePageInfo-col .homePageInfo .homePage-article-3 .category:nth-child(2) {
  background: url("../img/motto.jpg");
  background-size: cover;
}

.homePageInfo-col .homePageInfo .homePage-article-3 .category:nth-child(3) {
  background: url("../img/sport.jpg") center;
  background-size: cover;
}

.homePageInfo-col .homePageInfo .homePage-article-3 .category:nth-child(4) {
  background: url("../img/travel.jpg") center;
  background-size: cover;
}

@media (max-width: 992px) {
  .homePageInfo-col .homePageInfo .homePage-article-3 .category {
    width: 250px !important;
    height: 250px !important;
    padding: 0 !important;
    margin: 2px !important;
  }
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article-3 .category {
    width: 250px !important;
    height: 250px !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}

@media (max-width: 576px) {
  .homePageInfo-col .homePageInfo .homePage-article-3 .category {
    width: 200px !important;
    height: 200px !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}

@media (max-width: 400px) {
  .homePageInfo-col .homePageInfo .homePage-article-3 .category {
    width: 150px !important;
    height: 150px !important;
    padding: 0 !important;
    margin: 2px !important;
  }
}

@media (max-width: 320px) {
  .homePageInfo-col .homePageInfo .homePage-article-3 .category {
    width: 90% !important;
    height: 200px !important;
    padding: 0 !important;
    margin: 5px !important;
  }
}

.homePageInfo-col .homePageInfo .homePage-article-3 .category p {
  padding: 1rem !important;
  margin: 0 !important;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
  color: white;
  background: rgba(0, 0, 0, 0.788);
  font-size: 1.2rem;
}

@media (max-width: 576px) {
  .homePageInfo-col .homePageInfo .homePage-article-3 .category p {
    font-size: 1rem;
  }
}

.homePageInfo-col .homePageInfo .homePage-redirect {
  width: 100%;
  margin: 0 !important;
  height: auto;
  padding: 50px;
  background: white;
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-redirect {
    padding: 30px;
  }
}

@media (max-width: 475px) {
  .homePageInfo-col .homePageInfo .homePage-redirect {
    padding: 20px;
  }
}

@media (max-width: 375px) {
  .homePageInfo-col .homePageInfo .homePage-redirect {
    -webkit-clip-path: none;
            clip-path: none;
    padding: 0px;
  }
}

.homePageInfo-col .homePageInfo .homePage-redirect button {
  position: relative;
  width: 250px;
  height: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-transform: uppercase;
  outline: none;
  border: none;
  color: white;
  background: red;
}

.homePageInfo-col .homePageInfo .homePage-redirect button:hover {
  background: #012964;
}

@media (max-width: 375px) {
  .homePageInfo-col .homePageInfo .homePage-redirect button {
    font-size: 1rem;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (max-width: 320px) {
  .homePageInfo-col .homePageInfo .homePage-redirect button {
    font-size: 0.8rem;
    width: 100%;
    height: 80px;
  }
}
/*# sourceMappingURL=HomePage.css.map */