.carousel {
  width: 100% !important;
  height: auto !important;
  overflow: hidden;
}

.carousel .nextBtn {
  position: absolute;
  right: 0%;
  top: 50%;
  z-index: 100;
}

.carousel .prevBtn {
  position: absolute;
  left: 0%;
  top: 50%;
  z-index: 100;
}

.carousel .navBtnContent {
  width: 100% !important;
  height: 60px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.432);
  position: absolute;
  bottom: 0%;
  z-index: 1;
}

.carousel .navBtnContent .navBtn {
  width: 60px !important;
  height: 10px !important;
  position: relative;
  border: 1px solid silver;
  border-radius: 5px;
  z-index: 1;
  left: 40%;
  top: 40%;
}

.carousel .navBtnContent .navBtn:hover {
  cursor: pointer;
  background: #f3f3f3;
}

.carousel .carousel-content {
  width: 100% !important;
  height: 600px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel .carousel-content .carousel-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100% !important;
  height: 100% !important;
}

.carousel .carousel-content .carousel-element img {
  position: relative;
  width: 100% !important;
  height: 100% !important;
}

@media (max-width: 320px) {
  .carousel {
    height: 300px;
  }
}

@media (max-width: 425px) {
  .carousel {
    height: 350px;
  }
}

.homePageInfo-col {
  padding: 0 !important;
  height: auto;
  background: white;
}

.homePageInfo-col .homePageInfo {
  height: auto;
  padding: 0px !important;
}

.homePageInfo-col .homePageInfo .homePage-title {
  width: 100%;
  margin: 0 auto;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: #616161;
}

@media (max-width: 992px) {
  .homePageInfo-col .homePageInfo .homePage-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-title {
    font-size: 1.2rem;
  }
}

@media (max-width: 425px) {
  .homePageInfo-col .homePageInfo .homePage-title {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .homePageInfo-col .homePageInfo .homePage-title {
    font-size: 0.8rem;
  }
}

.homePageInfo-col .homePageInfo .homePage-article {
  padding: 5px !important;
  margin: 10px auto !important;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}

@media (max-width: 992px) {
  .homePageInfo-col .homePageInfo .homePage-article {
    width: 100%;
    height: 350px;
  }
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 350px;
  }
}

.homePageInfo-col .homePageInfo .homePage-article .article-part {
  position: relative;
  width: 50% !important;
  height: 100% !important;
  color: #cfcfcf;
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part {
    width: 100%;
  }
}

.homePageInfo-col .homePageInfo .homePage-article .article-part:first-child {
  background: radial-gradient(rgba(0, 0, 0, 0.466), #363636);
}

.homePageInfo-col .homePageInfo .homePage-article .article-part:first-child p {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.5rem;
}

@media (max-width: 992px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:first-child p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:first-child p {
    font-size: 1.2rem;
  }
}

@media (max-width: 425px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:first-child p {
    font-size: 0.9rem;
  }
}

@media (max-width: 320px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:first-child p {
    font-size: 0.7rem;
  }
}

.homePageInfo-col .homePageInfo .homePage-article .article-part:last-child {
  background: #000;
}

.homePageInfo-col .homePageInfo .homePage-article .article-part:last-child p {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  font-weight: 600;
}

@media (max-width: 992px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:last-child p {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:last-child p {
    font-size: 1.2rem;
  }
}

@media (max-width: 425px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:last-child p {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:last-child p {
    font-size: 0.8rem;
  }
}

.homePageInfo-col .homePageInfo .homePage-article-2 {
  padding: 15px !important;
  margin: 0 !important;
  width: 100% !important;
  height: auto !important;
  background-size: cover;
  background-position: center;
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-title-article-2 {
  width: 100% !important;
  height: 100px !important;
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-title-article-2 p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2rem;
  text-align: center;
  padding: 2rem !important;
  margin: 0 !important;
  color: white;
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100% !important;
  height: 350px !important;
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100% !important;
    height: auto !important;
  }
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon {
  position: relative;
  width: 30% !important;
  height: 100% !important;
  padding: 0 !important;
  margin: 0px !important;
  text-align: center;
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon {
    padding: 0 !important;
    margin: 0 auto !important;
    width: 80% !important;
    height: 250px !important;
  }
}

@media (max-width: 425px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon {
    width: 90% !important;
    height: 250px !important;
  }
}

@media (max-width: 320px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon {
    width: 100% !important;
    height: 250px !important;
  }
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .fa {
  position: absolute;
  color: #d6d6d6;
  font-size: 7rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 10%;
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .fa {
    font-size: 5rem;
  }
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .fas {
  position: absolute;
  font-size: 7rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 10%;
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .fas {
    font-size: 5rem;
    top: 5%;
  }
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .fa-palette {
  color: #d6d6d6;
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .fa-tshirt {
  color: #d6d6d6;
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon p {
  width: 100%;
  position: relative;
  color: #cfcfcf;
  font-size: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 60%;
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon p {
    font-size: 1.3rem;
    top: 50%;
  }
}

@media (max-width: 576px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon p {
    font-size: 1rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .description {
  width: 100%;
  position: absolute;
  font-size: 1rem;
  top: 80%;
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .description {
    font-size: 0.9rem;
    top: 70%;
  }
}

@media (max-width: 576px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .description {
    font-size: 0.9rem;
  }
}

@media (max-width: 375px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .description {
    font-size: 0.8rem;
  }
}

.homePageInfo-col .homePageInfo .homePage-redirect {
  width: 100%;
  margin: 0 !important;
  height: auto;
  padding: 50px;
  background: black;
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-redirect {
    padding: 30px;
  }
}

@media (max-width: 475px) {
  .homePageInfo-col .homePageInfo .homePage-redirect {
    padding: 20px;
  }
}

@media (max-width: 375px) {
  .homePageInfo-col .homePageInfo .homePage-redirect {
    -webkit-clip-path: none;
            clip-path: none;
    padding: 0px;
  }
}

.homePageInfo-col .homePageInfo .homePage-redirect button {
  position: relative;
  width: 250px;
  height: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-transform: uppercase;
  outline: none;
  border-right: none;
  border-bottom: none;
  border-top: 1px solid #505050;
  border-left: 1px solid #505050;
  color: #575757;
  background: none;
}

.homePageInfo-col .homePageInfo .homePage-redirect button:hover {
  background: rgba(61, 0, 0, 0.63);
}

@media (max-width: 375px) {
  .homePageInfo-col .homePageInfo .homePage-redirect button {
    font-size: 1rem;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (max-width: 320px) {
  .homePageInfo-col .homePageInfo .homePage-redirect button {
    font-size: 0.8rem;
    width: 100%;
    height: 80px;
  }
}
/*# sourceMappingURL=HomePage.css.map */