.carousel {
  width: 100%;
  height: 500px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.527)), to(rgba(255, 255, 255, 0.178))), url("../img/bg1.jpg");
  background: linear-gradient(to right, rgba(0, 0, 0, 0.527), rgba(255, 255, 255, 0.178)), url("../img/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 320px) {
  .carousel {
    height: 300px;
  }
}

@media (max-width: 425px) {
  .carousel {
    height: 350px;
  }
}

.homePageInfo-col {
  padding: 0 !important;
  height: auto;
}

.homePageInfo-col .homePageInfo {
  height: auto;
  padding: 0 !important;
}

.homePageInfo-col .homePageInfo .homePage-title {
  width: 100%;
  margin: 0 auto;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: #b4b4b4;
}

@media (max-width: 992px) {
  .homePageInfo-col .homePageInfo .homePage-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-title {
    font-size: 1.2rem;
  }
}

@media (max-width: 425px) {
  .homePageInfo-col .homePageInfo .homePage-title {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .homePageInfo-col .homePageInfo .homePage-title {
    font-size: 0.8rem;
  }
}

.homePageInfo-col .homePageInfo .homePage-article {
  padding: 0 !important;
  margin: 10px auto !important;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 992px) {
  .homePageInfo-col .homePageInfo .homePage-article {
    width: 100%;
    height: 350px;
  }
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 350px;
  }
}

.homePageInfo-col .homePageInfo .homePage-article .article-part {
  width: 50%;
  height: 100%;
  color: #949494;
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part {
    width: 100%;
  }
}

.homePageInfo-col .homePageInfo .homePage-article .article-part:first-child {
  -webkit-box-shadow: 0 0 5px silver;
          box-shadow: 0 0 5px silver;
}

.homePageInfo-col .homePageInfo .homePage-article .article-part:first-child p {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.5rem;
}

@media (max-width: 992px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:first-child p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:first-child p {
    font-size: 1.2rem;
  }
}

@media (max-width: 425px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:first-child p {
    font-size: 0.9rem;
  }
}

@media (max-width: 320px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:first-child p {
    font-size: 0.7rem;
  }
}

.homePageInfo-col .homePageInfo .homePage-article .article-part:last-child {
  background: #130142;
}

.homePageInfo-col .homePageInfo .homePage-article .article-part:last-child p {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  font-weight: 600;
}

@media (max-width: 992px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:last-child p {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:last-child p {
    font-size: 1.2rem;
  }
}

@media (max-width: 425px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:last-child p {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .homePageInfo-col .homePageInfo .homePage-article .article-part:last-child p {
    font-size: 0.8rem;
  }
}

.homePageInfo-col .homePageInfo .homePage-article-2 {
  padding: 15px !important;
  margin: 0 !important;
  width: 100% !important;
  height: auto !important;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.815)), to(rgba(0, 0, 0, 0.39))), url("../img/action.png");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.815), rgba(0, 0, 0, 0.39)), url("../img/action.png");
  background-size: cover;
  background-position: center;
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-title-article-2 {
  width: 100% !important;
  height: 100px !important;
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-title-article-2 p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2rem;
  text-align: center;
  padding: 2rem !important;
  margin: 0 !important;
  color: white;
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100% !important;
  height: 350px !important;
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100% !important;
    height: auto !important;
  }
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon {
  position: relative;
  width: 30% !important;
  height: 100% !important;
  padding: 0 !important;
  margin: 0px !important;
  text-align: center;
  border-top: 5px solid #e9e9e9;
  border-bottom: 5px solid #e9e9e9;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
  background: rgba(0, 0, 0, 0.712);
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon {
    padding: 0 !important;
    margin: 0 auto !important;
    width: 80% !important;
    height: 250px !important;
  }
}

@media (max-width: 425px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon {
    width: 90% !important;
    height: 250px !important;
  }
}

@media (max-width: 320px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon {
    width: 100% !important;
    height: 250px !important;
  }
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .fa {
  position: absolute;
  color: #4888ff;
  font-size: 7rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 10%;
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .fa {
    font-size: 5rem;
  }
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .fas {
  position: absolute;
  font-size: 7rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 10%;
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .fas {
    font-size: 5rem;
    top: 5%;
  }
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .fa-palette {
  color: #26c526;
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .fa-tshirt {
  color: #a01f09;
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon p {
  width: 100%;
  position: relative;
  color: #cfcfcf;
  font-size: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 60%;
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon p {
    font-size: 1.3rem;
    top: 50%;
  }
}

@media (max-width: 576px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon p {
    font-size: 1rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .description {
  width: 100%;
  position: absolute;
  font-size: 1rem;
  top: 80%;
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .description {
    font-size: 0.9rem;
    top: 70%;
  }
}

@media (max-width: 576px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .description {
    font-size: 0.9rem;
  }
}

@media (max-width: 375px) {
  .homePageInfo-col .homePageInfo .homePage-article-2 .homePage-article-2-part .homePage-article-2-icon .description {
    font-size: 0.8rem;
  }
}

.homePageInfo-col .homePageInfo .homePage-redirect {
  width: 100%;
  margin: 0 !important;
  height: auto;
  padding: 50px;
  background: white;
}

@media (max-width: 768px) {
  .homePageInfo-col .homePageInfo .homePage-redirect {
    padding: 30px;
  }
}

@media (max-width: 475px) {
  .homePageInfo-col .homePageInfo .homePage-redirect {
    padding: 20px;
  }
}

@media (max-width: 375px) {
  .homePageInfo-col .homePageInfo .homePage-redirect {
    -webkit-clip-path: none;
            clip-path: none;
    padding: 0px;
  }
}

.homePageInfo-col .homePageInfo .homePage-redirect button {
  position: relative;
  background: rgba(0, 0, 0, 0.267);
  width: 250px;
  height: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-transform: uppercase;
  outline: none;
  border: none;
  color: white;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}

.homePageInfo-col .homePageInfo .homePage-redirect button:hover {
  background: rgba(0, 0, 0, 0.63);
}

@media (max-width: 375px) {
  .homePageInfo-col .homePageInfo .homePage-redirect button {
    font-size: 1rem;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (max-width: 320px) {
  .homePageInfo-col .homePageInfo .homePage-redirect button {
    font-size: 0.8rem;
    width: 100%;
    height: 80px;
  }
}
/*# sourceMappingURL=HomePage.css.map */