main {
  width: 100% !important;
  height: 100% !important;
}

main .basket {
  width: 700px !important;
  height: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  position: absolute;
  background: white;
  z-index: 300;
  -webkit-box-shadow: 0 0 10px silver;
          box-shadow: 0 0 10px silver;
}

main .basket .basket-title {
  width: 100% !important;
  height: 80px !important;
  border-bottom: 2px solid black;
  background: #3b0249;
}

main .basket .basket-title p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10%;
  text-transform: uppercase;
  color: white;
}

main .basket .empty-basket {
  width: 100% !important;
  height: 300px !important;
  background: radial-gradient(#054291, black);
}

main .basket .empty-basket p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  color: #e4e4e4;
  font-size: 2rem;
}

main .basket .basket-content {
  width: 100% !important;
  height: 300px !important;
}

main .basket .basket-content .content-element {
  width: 50% !important;
  height: 100% !important;
  display: inline-block;
}

main .basket .basket-content .content-element .basket-tshirt {
  width: 150px !important;
  height: 200px !important;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0 !important;
  margin: 0 auto !important;
  background: #000;
}

main .basket .basket-content .content-element span {
  width: auto !important;
  height: 40px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 5px !important;
  margin: 5px !important;
  right: 5%;
  position: absolute;
  cursor: pointer;
  text-align: center;
}

main .basket .basket-content .content-element span:hover {
  -webkit-box-shadow: 0 0 5px silver;
          box-shadow: 0 0 5px silver;
}

main .basket .basket-content .content-element span p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0.8rem;
  margin-right: 5px;
}

main .basket .basket-content .content-element span .fas {
  position: relative;
  top: 10%;
  color: red;
  font-size: 1.5rem;
}

main .basket .basket-content .content-element table {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100% !important;
  height: 50% !important;
}

main .basket .basket-content .content-element table tr {
  width: 100% !important;
  height: auto !important;
}

main .basket .basket-content .content-element table tr td {
  border-bottom: 2px solid silver;
  color: #5c5c5c;
}

main .basket .basket-content .content-element table tr td p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 10px;
}

main .basket .basket-button {
  width: 100% !important;
  height: 80px !important;
  background: white;
  text-align: center;
}

main .basket .basket-button button {
  width: 200px !important;
  height: 60% !important;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0 !important;
  margin: 0 10px !important;
  background: white;
  -webkit-box-shadow: 0 0 5px #8b8b8b;
          box-shadow: 0 0 5px #8b8b8b;
  outline: none;
  border: none;
}

main .basket .basket-button button:hover {
  background: #05696d;
  color: white;
}

main .basket .basket-button .exit-basket {
  background: #ff6868;
}
/*# sourceMappingURL=MainContent.css.map */